@import "../bower_components/lesshat/build/lesshat.less";
@import "../bower_components/bootstrap/dist/css/bootstrap.min.css";
@import "../bower_components/angular-loading-bar/build/loading-bar.min.css";
@import "../bower_components/ngDialog/css/ngDialog.min.css";
@import "../bower_components/fontawesome/css/font-awesome.min.css";
@import "../bower_components/ui-select/dist/select.min.css";
@import "../less/flexslider.css";
@import "../less/angular.rangeSlider.css";
//@import "../less/component.css";
@color1: #E6E6E6;
@color2: #606060;
@color3: #7EE1EA;
@color4: #BEBBBB;
@color5: #F0F0F0;
//@color4: #0FBA66;
@color-base: #303030;
@white: #fff;
@font-family-body: 'pt sans';
@font-body: 14px;
@font-family-head: 'lato';
@font-big: 16px;
@font-droid: 'Droid Serif',
serif;
.pad-mar {
    padding: 0;
    margin: 0;
}

.pad {
    padding: 0;
}

.padr {
    padding-right: 0;
}

.mar {
    margin: 0;
}

body {
    //    padding-top: 105px;
    font-family: @font-family-body;
    font-size: @font-body;
    color: @color-base;
    .placeholder(#ccc);
}

a {
    color: @color-base;
    text-decoration: none !important;
    .transition(all 300ms ease);
}

.navbar-nav {
    float: left;
    margin: -1px -15px;
}

.nav>li {
    position: relative;
    display: block;
    text-transform: uppercase;
    font-size: 16px;
}

.head {
    background-color: @color1;
    padding: 12px 0px 2px 0px;
    .head-left {
        i {
            display: inline-block;
            font-size: 17px;
        }
        p {
            display: inline-block;
            font-size: 14px;
            vertical-align: middle;
            padding-left: 5px;
            text-transform: capitalize;
        }
    }
    .head-right {
        text-align: right;
        ul {
            display: block;
            list-style: none;
            .pad-mar;
            li {
                display: inline-block;
                border-right: 1px solid @color-base;
                padding: 0px 14px;
                text-transform: uppercase;
                font-size: 12px;
                i {
                    padding-right: 4px;
                }
            }
        }
    }
}

.head-mid {
    background-color: @white;
    padding: 40px 0px 40px 0px;
    .social {
        text-align: right;
        ul {
            list-style: none;
            display: block;
            li {
                display: inline-block;
                font-size: 20px;
                padding: 0px 5px;
                color:@color1;
                i {
                    border: 2px solid @color1;
                    .border-radius(100%);
                    padding: 7px 6px;
                    .size(36);
                    text-align: center;
                    cursor: pointer;
                }
            }
        }
    }
}


.navbar-default {
    background-color: @color1;
    border-color: @color1;
    color: @color-base;
}

.search {
    .form-control {
        width: 100% !important;
        height: 40px !important;
        padding: 6px 12px !important;
        border-radius: 0px !important;
        outline: 0 !important;
    }
    .btn {
        padding: 9px 18px !important;
        border: 1px solid transparent !important;
        border-radius: 0px !important;
        background-color: @color3 !important;
        text-transform: capitalize;
        color:@white;
    }
    .btn:focus {
        border-color: @color3;
        outline: 0;
    }
    .btn.btn-default:after {
        position: absolute;
        top: 50%;
        right: 77px;
        margin-top: -10px;
        width: 0;
        height: 0;
        border-right: 10px solid;
        border-bottom: 11px solid rgba(0, 0, 0, 0);
        border-top: 10px solid rgba(0, 0, 0, 0);
        color: @color3;
        content: "";
        pointer-events: none;
    }
}

.vert {
    margin-top: 6px;
}

//.flexslider-container {
//		width: 50%;
//		margin: 10px auto;
//	}
.slider {
    margin-top: -10px;
    z-index: 0;
    position: relative;
    .flexslider {
        border: 0px solid @white;
    }
    .carousel li {
        margin-right: 0px !important;
    }
    .flex-direction-nav a.flex-next:before {
        content: '';
        background: url("../img/arrow-right.png") no-repeat center;
        width: 55px;
        height: 62px;
    }
    .flex-direction-nav a.flex-prev:before {
        content: '';
        background: url("../img/arrow-left.png") no-repeat center;
        width: 55px;
        height: 62px;
    }
    .flex-direction-nav a {
        width: 54px;
        height: 66px;
        //        opacity: 1;
    }
    .flex-direction-nav .flex-prev {
        left: 30px;
    }
    .flex-direction-nav .flex-next {
        right: 30px;
        text-align: right;
    }
    .flexslider:hover .flex-direction-nav .flex-prev:hover {
        opacity: 1 !important;
    }
    .flexslider:hover .flex-direction-nav .flex-next:hover {
        opacity: 1;
    }
    .flexslider:hover .flex-direction-nav .flex-prev {
        opacity: 1;
        left: 30px;
        outline: 0;
    }
    .flexslider:hover .flex-direction-nav .flex-next {
        right: 30px;
        outline: 0;
    }
    .flex-control-nav {
        display: none;
    }
}

.flexslider .slides > li {
    display: none;
    -webkit-backface-visibility: hidden;
    position: relative;
}

img.loading {
    background-image: url(../img/loading.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    text-align: center;
    position: absolute;
    top: 50%;
    opacity: 1;
    left: 50%;
    .translate(-50%, -50%);
    width: 100px !important;
    height: 100px !important;
}

img {
    opacity: 0;
    .transition(all 1s ease);
}

img.doneLoading {
    opacity: 1;
}

.pro-imgleft {
    width: 100%;
    height: 343px;
    overflow: hidden;
    display: block;
    text-align: center;
    padding: 0;

}
.cs-style-3{
        figure {
        position: relative;
            height: 343px;
            overflow: hidden;
        img {
            width: 100%;
                height: auto;
            cursor: pointer;
            transition: transform 0.4s;
            position: relative;
        }
        figcaption {
            height: 100px;
            width: 100%;
            
            top: auto;
            bottom: 0;
            opacity: 0;
            .translateY(100%);
            -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
            -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
            transition: transform 0.4s, opacity 0.1s 0.3s;
            h3 {
                margin: 0;
                padding: 0;
                color: @color-base;
                text-transform: capitalize;
                font-size: 17px;
                font-family:@font-family-body;
            }
            a {
                text-align: center;
                padding: 5px 10px;
                border-radius: 2px;
                display: inline-block;
                background: @color3;
                color: #fff;
                position: absolute;
                bottom: 20px;
                right: 20px;
                    font-size: 14px;
                font-family: @font-family-head;
            }
        }
    }
}
.grid figcaption {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
        background: @color5;
    color: @color3;
    font-size: 16px;
    font-family:@font-family-body;
}

.cs-style-3 figure:hover img {
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    transform: translateY(-50px);
}

.cs-style-3 figure:hover figcaption {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
    -moz-transition: -moz-transform 0.4s, opacity 0.1s;
    transition: transform 0.4s, opacity 0.1s;
}

.pro-imgright {
    width: 100%;
    height: 343px;
    text-align: center;
    overflow: hidden;
}

.scond-pro {
    padding-top: 15px;
}

.sign {
       padding-top: 100px;
    padding-bottom: 120px;
    .btn.btn-default:after {
        right: 94px !important;
    }
    h3 {
        text-transform: uppercase;
        font-weight: 600;
        font-family: @font-family-body;
        font-size: 28px;
        letter-spacing: 1px;
    }
    p {
        font-family: @font-droid;
        font-style: italic;
        font-size: 15px;
        color: @color2;
    }
    .padtp {
        padding-top: 35px;
        .input-group {
            position: relative;
            display: table;
            border-collapse: separate;
            width: 70%;
            text-align: center;
            margin-left: 102px;
            font-family: @font-family-body !important;
            .form-control {
                height: 50px !important;
            }
            .btn {
                padding: 14px 18px !important;
            }
        }
    }
}

.footer {
    background-color: #e6e6e6;
    .footer-set {
        padding: 40px 0px 40px 0px;
        h4 {
            text-transform: uppercase;
            font-family: @font-family-head;
        }
        ul {
            list-style: none;
            padding: 0;
            text-transform: capitalize;
            li {
                font-size: @font-body;
                padding: 3px 0px;
                font-family: @font-family-body;
                cursor: pointer;
            }
        }
        .pay {
            ul {
                display: block;
                li {
                    display: inline-block;
                    padding: 10px 5px;
                }
            }
        }
        .col-md-3 {
            border-right: 1px solid @color4;
        }
    }
}
.sub-catgame{
    ul{
        list-style: none;
        .pad-mar;
        li{
            input[type=checkbox]{
                  display: none;
    cursor: pointer;
            }
            label{
                 max-width: 100%;
    margin-bottom: 5px;
    font-weight: 400;
//    font-family: 'Titillium Web', sans-serif;
    text-transform: uppercase;
    color: #616161;
    font-size: 13px;
    cursor: pointer;  
            }
            .checkbox{
                   vertical-align: baseline;
    display: inline-block;
                 &:before{
                    content: "";
    display: inline-block;
    width: 13px;
    height: 13px;
    vertical-align: baseline;
    background-color: #b5b4b4;
    color: #f3f3f3;
    text-align: center;
    -webkit-border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0;
    -moz-background-clip: padding;
    border-radius: 0;
    background-clip: padding-box;
    margin-right: 10px;
            }
            }
           
        }
    }
}
//.sub-catgame ul li input[type=checkbox] {
//    display: none;
//    cursor: pointer;
//}
//.sub-catgame ul li .checkbox {
//    vertical-align: baseline;
//    display: inline-block;
//}
//.sub-catgame ul li label {
//    max-width: 100%;
//    margin-bottom: 5px;
//    font-weight: 400;
////    font-family: 'Titillium Web', sans-serif;
//    text-transform: uppercase;
//    color: #616161;
//    font-size: 13px;
//    cursor: pointer;
//}
//.sub-catgame ul li .checkbox:before {
//    content: "";
//    display: inline-block;
//    width: 13px;
//    height: 13px;
//    vertical-align: baseline;
//    background-color: #b5b4b4;
//    color: #f3f3f3;
//    text-align: center;
//    -webkit-border-radius: 0;
//    -webkit-background-clip: padding-box;
//    -moz-border-radius: 0;
//    -moz-background-clip: padding;
//    border-radius: 0;
//    background-clip: padding-box;
//    margin-right: 10px;
//}
.sub-catgame ul li input[type=checkbox]:checked + .checkbox:before {
    background-color: #fc7700;
    font-size: 15px;
    cursor: pointer;
}