<div class="about text-uppercase" disable-right-click>
	<div class="container">
		<div class="about-head sign pads text-center">
			<h3>About us</h3>
		</div>
		<!-- <div class="row">
			<div class="col-md-12">
				<div class="abt-main">
					<p>this area have a content</p>
				</div>
			</div>
		</div> -->
		<div class="abt-content">
			<div class="row">
				<div class="col-md-6">
					<div class="who-are">
						<h4 class="text-center">ABOUT US</h4>
						<p class="text-justify"><b>“We dream big and never settle for the status quo”</b> - Our sole focus is to provide our customers with accessories and gadgets that look as good as they function. Access was founded by        Mr. Chandresh Shah in 1999 and today the company has become the leading distributors of mobile accessories and lifestyle products. Access was awarded as the <b>“Best Retail Multi-brand Store”</b> in Mumbai on July 13, 2011 at D Q Week Awards.</p>
						<p class="text-justify">We are present in the retail industry for more than 8 years and operating 2 Retail Stores in the best luxury malls in Mumbai. Here we sell products from one of the best and reputed brands across the globe. Our stores act as a product demonstration and awareness centers, where the customers can touch &amp; feel, get knowledge &amp; guidance about the products and then buy them.</p>
					</div>
				</div>
				<div class="col-md-6">
					<div class="what-doin">
						<h4 class="text-center">PHILOSOPHY</h4>
						<p class="text-justify">Access has taken the revolutionary approach to create a virtual store – <a href="http://accessworld.in/#/home" class="mail">www.accessworld.in</a> which is centered on selling straight to the customers online. A complete assortment of our brands and products online will help us to provide our customers with choice, convenience and comparison of prices from anywhere and anytime across the globe.</p>
						<p class="text-justify">Gadget Freaks, Techno Junkies, Quality Lovers can get regular updates about the latest brands/products, explore them and buy them through our website. Customers can also give their suggestions/feedback as your inputs will help us getting better and quality products on board because - <b>“Quality Products and Quality Service Begin With Quality Thinking.”</b></p>
					</div>
				</div>
			</div>
		</div>
		<div class="celeb" >
			<h4 class="client">Our clientele</h4>
			<div class="divider">
				<div class="row">
					<div class="col-md-4" ng-repeat="celeb in celebimages">{{}}
						<div class="celeb1">
							<div class="img-holder">
								<a disable-right-click><img ng-src="{{celeb.image | serverimage}}" alt="" class="img-responsive"></a>
							</div>
							<h5 class="actor-name">{{celeb.title}}</h5>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
