<div class="about text-uppercase">
	<div class="container">
		<div class="about-head sign pads text-center">
			<h3>About us</h3>
			<p class="text-capitalize">Nulla ipsum dolor lacus,Cum sociis natoque penatibus et ultrices volutpat.</p>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="abt-main">
					<p>this area have a content</p>
				</div>
			</div>
		</div>
		<div class="abt-content">
			<div class="row">
				<div class="col-md-6">
					<div class="who-are">
						<h4>who we are?</h4>
						<p>Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim.</p>
						<p>Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim.</p>
					</div>
				</div>
				<div class="col-md-6">
					<div class="what-doin">
						<h4>what we are doing?</h4>
						<p>Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim.</p>
						<p>Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="celeb">
			<div class="row">
				<div class="col-md-4">
					<div class="celeb1">
						<h5>Lorem ipsum dolor sit amet enim.</h5>
						<div class="img-holder">
							<img src="img/product/4.png" alt="" class="img-responsive">
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="celeb2">
						<h5>Lorem ipsum dolor sit amet enim.</h5>
						<div class="img-holder">
							<img src="img/product/6.jpg" alt="" class="img-responsive">
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="celeb3">
						<h5>Lorem ipsum dolor sit amet enim.</h5>
						<div class="img-holder">
							<img src="img/product/11.jpg" alt="" class="img-responsive">
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="celeb5">
						<h5>Lorem ipsum dolor sit amet enim.</h5>
						<div class="img-holder">
							<img src="img/product/macbook.png" alt="" class="img-responsive">
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="celeb6">
						<h5>Lorem ipsum dolor sit amet enim.</h5>
						<div class="img-holder">
							<img src="img/product/air.png" alt="" class="img-responsive">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>