<div class="about text-uppercase">
	<div class="container">
		<div class="about-head sign pads text-center">
			<h3>About us</h3>
			<p class="text-capitalize">Nulla ipsum dolor lacus,Cum sociis natoque penatibus et ultrices volutpat.</p>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="abt-main">
					<p>this area have a content</p>
				</div>
			</div>
		</div>
		<div class="abt-content">
			<div class="row">
				<div class="col-md-6">
					<div class="who-are">
						<h4>who we are?</h4>
						<p>Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim.</p>
						<p>Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim.</p>
					</div>
				</div>
				<div class="col-md-6">
					<div class="what-doin">
						<h4>what we are doing?</h4>
						<p>Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim.</p>
						<p>Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="celeb">
		<h4 class="client">Our clientele</h4>
			<div class="divider">
				<div class="row">
					<div class="col-md-4" ng-repeat="celeb in celebimages">{{}}
						<div class="celeb1">							
							<div class="img-holder">
								<img ng-src="{{celeb.image | serverimage}}" alt="" class="img-responsive">
							</div>
							<h5 class="actor-name">{{celeb.title}}</h5> 
						</div>
					</div>
				</div>
			</div>
		
		</div>
	</div>
</div>