<div class="account">
	<div class="container">
		<div class="account-head pads text-center text-uppercase">
			<h3>edit your account</h3>
		</div>
		<div class="row">
			<div class="col-md-offset-2 col-md-8">
				<form action="" class="text-uppercase">
					<div class="divider">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label for="first name">first name</label>
									<input type="text" class="form-control" id="first name">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="last name">last name</label>
									<input type="text" class="form-control" id="last name">
								</div>
							</div>
						</div>
					</div>
					<div class="divider">
						<div class="row">
							<div class="col-md-8">
								<div class="form-group">
									<label for="company name">company name <span>(optional)</span></label>
									<input type="text" class="form-control" id="company name">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label for="nip">NIP <span>(optional)</span></label>
									<input type="text" class="form-control" id="nip">
								</div>
							</div>
						</div>
					</div>
					<div class="divider">
						<div class="row">
							<div class="col-md-12">
								<label for="add">address</label>
								<input type="text" class="form-control" id="add">
							</div>
						</div>
					</div>
					<div class="divider">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label for="city">city</label>
									<input type="text" class="form-control" id="city">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="zip">zip code</label>
									<input type="number" class="form-control" id="zip">
								</div>
							</div>
						</div>
					</div>
					<div class="divider">
						<div class="row">
							<div class="col-md-12">
								<label for="country">country</label>
								<select name="" id="country" class="form-control">
									<option value="" selected>poland</option>
									<option value="">usa</option>
									<option value="">america</option>
									<option value="">India</option>
								</select>
							</div>
						</div>
					</div>
					<div class="divider">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label for="phone">phone number</label>
									<input type="number" class="form-control" id="phone">
								</div>
							</div>
							<div class="col-md-6">
								<label for="email">email</label>
								<input type="email" class="form-control" id="email">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 text-center">
							<div class="form-group">
								<input type="checkbox" id="billing">
								<label for="billing">use address for billing</label>
							</div>
						</div>
					</div>
					<div class="save-btn text-center">
						<a href="#" class="save">save</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>