<div class="account">
    <div class="container">
        <div class="account-head pads text-center text-uppercase">
            <h3>edit your account</h3>
        </div>
         <h5><span style="color: tomato;">{{msgfailure}}</span></h5>
                         <h5><span style="color: #2CBF2C;">{{msgsuccess}}</span></h5>
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <form action="" class="text-uppercase">
                    <div class="divider">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="first name">first name</label>
                                    <input type="text" class="form-control" id="first name" ng-model="user.firstname">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="last name">last name</label>
                                    <input type="text" class="form-control" id="last name" ng-model="user.lastname">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--
					<div class="divider">
						<div class="row">
							<div class="col-md-8">
								<div class="form-group">
									<label for="company name">company name <span>(optional)</span></label>
									<input type="text" class="form-control" id="company name">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label for="nip">NIP <span>(optional)</span></label>
									<input type="text" class="form-control" id="nip">
								</div>
							</div>
						</div>
					</div>
-->
                    <div class="divider">
                        <div class="row">
                            <div class="col-md-12">
                                <label for="add">address</label>
                                <input type="text" class="form-control" id="add" ng-model="user.billingaddress">
                            </div>
                        </div>
                    </div>
                    <div class="divider">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="city">city</label>
                                    <input type="text" class="form-control" id="city" ng-model="user.billingcity">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="zip">zip code</label>
                                    <input type="text" class="form-control" id="zip" ng-model="user.billingpincode">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="divider">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="country">country</label>
                                <select class="form-control" ng-model="user.billingcountry">
                                    			  <option value="">Select Country</option>
                                                    <option value="India">India</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                 <label for="">State</label>
                                   <select class="form-control" ng-model="user.billingstate">
                                     <option value="">Select State</option>
                                     <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
  <option value="Andhra Pradesh">Andhra Pradesh</option>
  <option value="Arunachal Pradesh">Arunachal Pradesh</option>
  <option value="Assam">Assam</option>
  <option value="Bihar">Bihar</option>
  <option value="Chandigarh">Chandigarh</option>
  <option value="Chhattisgarh">Chhattisgarh</option>
  <option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
  <option value="Daman and Diu">Daman and Diu</option>
  <option value="Delhi">Delhi</option>
  <option value="Goa">Goa</option>
  <option value="Gujarat">Gujarat</option>
  <option value="Haryana">Haryana</option>
  <option value="Himachal Pradesh">Himachal Pradesh</option>
  <option value="Jammu and Kashmir">Jammu and Kashmir</option>
  <option value="Jharkhand">Jharkhand</option>
  <option value="Karnataka">Karnataka</option>
  <option value="Kerala">Kerala</option>
  <option value="Lakshadweep">Lakshadweep</option>
  <option value="Madhya Pradesh">Madhya Pradesh</option>
  <option value="Maharashtra">Maharashtra</option>
  <option value="Manipur">Manipur</option>
  <option value="Meghalaya">Meghalaya</option>
  <option value="Mizoram">Mizoram</option>
  <option value="Nagaland">Nagaland</option>
  <option value="Orissa">Orissa</option>
  <option value="Pondicherry">Pondicherry</option>
  <option value="Punjab">Punjab</option>
  <option value="Rajasthan">Rajasthan</option>
  <option value="Sikkim">Sikkim</option>
  <option value="Tamil Nadu">Tamil Nadu</option>
  <option value="Tripura">Tripura</option>
  <option value="Uttaranchal">Uttaranchal</option>
  <option value="Uttar Pradesh">Uttar Pradesh</option>
  <option value="West Bengal">West Bengal</option>
                                   </select>
                            </div>
                        </div>
                    </div>
                    <div class="divider">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="phone">phone number</label>
                                    <input type="text" class="form-control" id="phone" ng-model="user.phone">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="email">email</label>
                                <input type="email" class="form-control" id="email" ng-model="user.email">
                            </div>
                        </div>
                    </div>
<!--
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div class="form-group">
                                <input type="checkbox" id="billing" ng-model="user.sameasbilling">
                                <label for="billing">use address for billing</label>
                            </div>
                        </div>
                    </div>
-->
<h5><a ui-sref="changepassword">Change password</a></h5>
                    <div class="save-btn text-center">
                        <a class="save" ng-click="updateuser(user)">save</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
