<!--

<div class="brand-hover">
	<div class="container">
		<div class="slider">
			<flex-slider class="carousel" flex-slide="s in slides" animation="slide">
				<ul>				
				</ul>
			</flex-slider>
		</div>
	</div>
</div>
-->


<div class="brandhover">
	<div class="container">
		<div class="brand-slide">
			<div id="mybrand" class="carousel slide pdn" data-ride="carousel">
				<ol class="carousel-indicators indicate">
					<li data-target="#mybrand" data-slide-to="0" class="active"></li>
					<li data-target="#mybrand" data-slide-to="1"></li>
					<li data-target="#mybrand" data-slide-to="2"></li>
				</ol>
				<div class="carousel-inner" role="listbox">
					<div class="item active">
						<div class="divider">
							<div class="row">
								<div class="col-md-3">
									<div class="img-holder">
										<a href=""><img src="img/brands/jackjones.png" alt="Brands" class="img-responsive"></a>
									</div>
								</div>
								<div class="col-md-3">
									<div class="img-holder">
										<a href=""><img src="img/brands/dell.png" alt="Brands" class="img-responsive"></a>
									</div>
								</div>
								<div class="col-md-3">
									<div class="img-holder">
										<a href=""><img src="img/brands/hp.png" alt="Brands" class="img-responsive"></a>
									</div>
								</div>
								<div class="col-md-3">
									<div class="img-holder">
										<a href=""><img src="img/brands/sony.png" alt="Brands" class="img-responsive"></a>
									</div>
								</div>
							</div>
						</div>
						<div class="divider">
							<div class="row">
								<div class="col-md-3">
									<div class="img-holder">
										<a href="">
											<img src="img/brands/apple.png" alt="Brands" class="img-responsive">
										</a>
									</div>
								</div>
								<div class="col-md-3">
									<div class="img-holder">
										<a href="">
											<img src="img/brands/beats.png" alt="Brands" class="img-responsive">
										</a>
									</div>
								</div>
								<div class="col-md-3">
									<div class="img-holder" 2 <a href="">
										<img src="img/brands/dolcegabbana.jpg" alt="Brands" class="img-responsive">
										</a>
									</div>
								</div>
								<div class="col-md-3">
									<div class="img-holder">
										<a href="">
											<img src="img/brands/gas.jpg" alt="Brands" class="img-responsive">
										</a>
									</div>
								</div>
							</div>
						</div>
						<div class="divider">
							<div class="row">
								<div class="col-md-3">
									<div class="img-holder">
										<a href="">
											<img src="img/brands/gstarraw.png" alt="Brands" class="img-responsive">
										</a>
									</div>
								</div>
								<div class="col-md-3">
									<div class="img-holder">
										<a href="">
											<img src="img/brands/tommy.jpg" alt="Brands" class="img-responsive">
										</a>
									</div>
								</div>
								<div class="col-md-3">
									<div class="img-holder">
										<a href="">
											<img src="img/brands/levis.png" alt="Brands" class="img-responsive">
										</a>
									</div>
								</div>
								<div class="col-md-3">
									<div class="img-holder">
										<a href="">
											<img src="img/brands/adidas.png" alt="Brands" class="img-responsive">
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="divider">
							<div class="row">
								<div class="col-md-3">
									<div class="img-holder">
										<a href="">
											<img src="img/brands/apple.png" alt="Brands" class="img-responsive">
										</a>
									</div>
								</div>
								<div class="col-md-3">
									<div class="img-holder">
										<a href="">
											<img src="img/brands/beats.png" alt="Brands" class="img-responsive">
										</a>
									</div>
								</div>
								<div class="col-md-3">
									<div class="img-holder">
										<a href="">
											<img src="img/brands/dolcegabbana.jpg" alt="Brands" class="img-responsive">
										</a>
									</div>
								</div>
								<div class="col-md-3">
									<div class="img-holder">
										<a href="">
											<img src="img/brands/gas.jpg" alt="Brands" class="img-responsive">
										</a>
									</div>
								</div>
							</div>
						</div>
						<div class="divider">
							<div class="row">
								<div class="col-md-3">
									<div class="img-holder">
										<a href=""><img src="img/brands/jackjones.png" alt="Brands" class="img-responsive"></a>
									</div>
								</div>
								<div class="col-md-3">
									<div class="img-holder">
										<a href=""><img src="img/brands/dell.png" alt="Brands" class="img-responsive"></a>
									</div>
								</div>
								<div class="col-md-3">
									<div class="img-holder">
										<a href=""><img src="img/brands/hp.png" alt="Brands" class="img-responsive"></a>
									</div>
								</div>
								<div class="col-md-3">
									<div class="img-holder">
										<a href=""><img src="img/brands/sony.png" alt="Brands" class="img-responsive"></a>
									</div>
								</div>
							</div>
						</div>
						<div class="divider">
							<div class="row">
								<div class="col-md-3">
									<div class="img-holder">
										<a href="">
											<img src="img/brands/gstarraw.png" alt="Brands" class="img-responsive">
										</a>
									</div>
								</div>
								<div class="col-md-3">
									<div class="img-holder">
										<a href="">
											<img src="img/brands/tommy.jpg" alt="Brands" class="img-responsive">
										</a>
									</div>
								</div>
								<div class="col-md-3">
									<div class="img-holder">
										<a href="">
											<img src="img/brands/levis.png" alt="Brands" class="img-responsive">
										</a>
									</div>
								</div>
								<div class="col-md-3">
									<div class="img-holder">
										<a href="">
											<img src="img/brands/adidas.png" alt="Brands" class="img-responsive">
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="divider">
							<div class="row">
								<div class="col-md-3">
									<div class="img-holder">
										<a href=""><img src="img/brands/jackjones.png" alt="Brands" class="img-responsive"></a>
									</div>
								</div>
								<div class="col-md-3">
									<div class="img-holder">
										<a href=""><img src="img/brands/dell.png" alt="Brands" class="img-responsive"></a>
									</div>
								</div>
								<div class="col-md-3">
									<div class="img-holder">
										<a href=""><img src="img/brands/hp.png" alt="Brands" class="img-responsive"></a>
									</div>
								</div>
								<div class="col-md-3">
									<div class="img-holder">
										<a href=""><img src="img/brands/sony.png" alt="Brands" class="img-responsive"></a>
									</div>
								</div>
							</div>
						</div>
						<div class="divider">
							<div class="row">
								<div class="col-md-3">
									<div class="img-holder">
										<a href=""><img src="img/brands/jackjones.png" alt="Brands" class="img-responsive"></a>
									</div>
								</div>
								<div class="col-md-3">
									<div class="img-holder">
										<a href=""><img src="img/brands/dell.png" alt="Brands" class="img-responsive"></a>
									</div>
								</div>
								<div class="col-md-3">
									<div class="img-holder">
										<a href=""><img src="img/brands/hp.png" alt="Brands" class="img-responsive"></a>
									</div>
								</div>
								<div class="col-md-3">
									<div class="img-holder">
										<a href=""><img src="img/brands/sony.png" alt="Brands" class="img-responsive"></a>
									</div>
								</div>
							</div>
						</div>
						<div class="divider">
							<div class="row">
								<div class="col-md-3">
									<div class="img-holder">
										<a href=""><img src="img/brands/jackjones.png" alt="Brands" class="img-responsive"></a>
									</div>
								</div>
								<div class="col-md-3">
									<div class="img-holder">
										<a href=""><img src="img/brands/dell.png" alt="Brands" class="img-responsive"></a>
									</div>
								</div>
								<div class="col-md-3">
									<div class="img-holder">
										<a href=""><img src="img/brands/hp.png" alt="Brands" class="img-responsive"></a>
									</div>
								</div>
								<div class="col-md-3">
									<div class="img-holder">
										<a href=""><img src="img/brands/sony.png" alt="Brands" class="img-responsive"></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<a href="#mybrand" role="button" data-slide="prev">
					<img src="img/arrow-left.png" alt="" class="img-responsive">
				</a>
				<a href="#mybrand" role="button" data-slide="next">
					<img src="img/arrow-right.png" alt="" class="img-responsive">
				</a>
			</div>
		</div>
	</div>
</div>



<div class="sof">
	<flex-slider animation="slide">
		<li><img src="img/brands/apple.png" alt="" class="img-responsive"></li>
		<li><img src="img/brands/dell.png" alt="" class="img-resposnive"></li>
	</flex-slider>
</div>