<div class="brand">
	<div class="container">
		<div class="brand-section">
			<div class="divider">
				<div class="row">
					<div class="col-md-3">
						<div class="img-holder">
							<a href="">
								<img src="img/logo.png" alt="Brands" class="img-responsive">
							</a>
						</div>
					</div>
					<div class="col-md-3">
						<div class="img-holder">
							<a href="">
								<img src="img/logo.png" alt="Brands" class="img-responsive">
							</a>
						</div>
					</div>
					<div class="col-md-3">
						<div class="img-holder">
							<a href="">
								<img src="img/logo.png" alt="Brands" class="img-responsive">
							</a>
						</div>
					</div>
					<div class="col-md-3">
						<div class="img-holder">
							<a href="">
								<img src="img/logo.png" alt="Brands" class="img-responsive">
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="divider">
				<div class="row">
					<div class="col-md-3">
						<div class="img-holder">
							<a href="">
								<img src="img/logo.png" alt="Brands" class="img-responsive">
							</a>
						</div>
					</div>
					<div class="col-md-3">
						<div class="img-holder">
							<a href="">
								<img src="img/logo.png" alt="Brands" class="img-responsive">
							</a>
						</div>
					</div>
					<div class="col-md-3">
						<div class="img-holder">
							<a href="">
								<img src="img/logo.png" alt="Brands" class="img-responsive">
							</a>
						</div>
					</div>
					<div class="col-md-3">
						<div class="img-holder">
							<a href="">
								<img src="img/logo.png" alt="Brands" class="img-responsive">
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="divider">
				<div class="row">
					<div class="col-md-3">
						<div class="img-holder">
							<a href=""><img src="img/logo.png" alt="Brands" class="img-responsive"></a>
						</div>
					</div>
					<div class="col-md-3">
						<div class="img-holder">
							<a href=""><img src="img/logo.png" alt="Brands" class="img-responsive"></a>
						</div>
					</div>
					<div class="col-md-3">
						<div class="img-holder">
							<a href=""><img src="img/logo.png" alt="Brands" class="img-responsive"></a>
						</div>
					</div>
					<div class="col-md-3">
						<div class="img-holder">
							<a href=""><img src="img/logo.png" alt="Brands" class="img-responsive"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>