<div class="brand">
	<div class="container">
		<div class="brand-section text-center">
			<div class="divider">
				<div class="row" infinite-scroll='addMoreItems();' infinite-scroll-distance="0" infinite-scroll-disabled="shouldscroll">
					<div class="col-md-3" ng-repeat="brnd in brandimages" >
						<div class="img-holder">
<!--								<a ng-click="getproductbybrand(brnd.id);"><img ng-src="{{brnd.logo | serverimage}}" alt="Brands" class="img-responsive" ></a>-->
								<a href="#/product/0/0/{{brnd.id}}"><img ng-src="{{brnd.logo | serverimage}}" alt="Brands" class="img-responsive" ></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>