<div class="brandhover" ng-controller="submenuctrl">
	
<span class="prev" ng-click="prev()"></span>
<span class="next" ng-click="next()"></span>
	<carousel interval="myInterval" no-wrap="noWrapSlides">
		<slide ng-repeat="slide in slides" active="slide.active">
			<div class="row">
				<div class="col-md-3" ng-repeat="brndhov in brandhover">
					<div class="img-holder">
						<img ng-src="{{brndhov.logo | serverimage}}" alt="Brands" class="img-responsive" ng-click="getproductbybrand(brndhov.id);" ng-if="brndhov.logo">
						<img ng-src="{{ggg | serverimage}}" alt="Brands" class="img-responsive" ng-click="getproductbybrand(brndhov.id);" ng-if="!brndhov.logo">
					</div>
				</div>
			</div>
		</slide>
	</carousel>
</div>
