<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="sign text-center pads">
				<h3>Your Shopping Bag</h3>
				<p>Items reserved for limited time only</p>
			</div>
			<div class="cart-det">
				<table class="table">
					<thead>
						<tr>
							<th>product</th>
							<th>DESCRIPTION</th>
							<th>qty</th>
							<th>unit price</th>
							<th>total amount</th>
							<th>remove</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<div class="tables">
									<img src="img/product/13.jpg" class="img-responsive">
								</div>
							</td>
							<td>
								<h4>FLORAL PLIMSOLL</h4>
								<h5>Ref. 2514/302</h5>
							</td>
							<td>
								<div class="in">
									<input type="number" placeholder="1">
									<a href="#"></a>
								</div>
							</td>
							<td>
								<p><i class="fa fa-inr"></i>4321.00</p>
							</td>
							<td>
								<p><i class="fa fa-inr"></i>4321.00</p>
							</td>
							<td>
								<p><i class="fa fa-trash"></i></p>
							</td>
						</tr>
						<tr>
							<td>
								<div class="tables">
									<img src="img/product/13.jpg" class="img-responsive">
								</div>
							</td>
							<td>
								<h4>FLORAL PLIMSOLL</h4>
								<h5>Ref. 2514/302</h5>
							</td>
							<td>
								<div class="in">
									<input type="number" placeholder="1">
								</div>
							</td>
							<td>
								<p><i class="fa fa-inr"></i>4321.00</p>
							</td>
							<td>
								<p><i class="fa fa-inr"></i>4321.00</p>
							</td>
							<td>
								<p><i class="fa fa-trash"></i></p>
							</td>
						</tr>
					</tbody>
				</table>
				<div class="check">
					<h4>Discount Coupon</h4>
					<input type="text" placeholder="Enter Your Coupon code.."><a href="#" class="app">Apply</a>
					<a href="#" class="out">Proceed To Checkout</a>
					<a href="#" class="out text-capitalize">continue shopping</a>
					<hr>
					<div class="row">
						<div class="col-xs-8"></div>
						<div class="col-xs-4">
							<div class="total-table">
								<table class="table disc">
									<thead>
										<tr>
											<th>
												sub total
											</th>
											<th>
												discount
											</th>
											<th>
												total amount
											</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>
												<p><i class="fa fa-inr"></i>4321.00</p>
											</td>
											<td>
												<p><i class="fa fa-inr"></i>4321.00</p>
											</td>
											<td>
												<p><i class="fa fa-inr"></i>4321.00</p>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
