<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="sign text-center pads">
				<h3>Your Shopping Bag</h3>
				<!--				<p>Items reserved for limited time only</p>-->
			</div>
			<div class="text-center" ng-if="nodatafound">
				<p>
					{{nodata}}
				</p>
			</div>
			<div class="cart-det" ng-if="!nodatafound">
				<table class="table">
					<thead>
						<tr>
							<th>product</th>
							<th>DESCRIPTION</th>
							<th>qty</th>
							<th>unit price</th>
							<th>total amount</th>
							<th>remove</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="mycart in cart">
							<td>
								<div class="tables">
									<img ng-src="{{mycart.image | serverimage}}" class="img-responsive">
								</div>
							</td>
							<td ui-sref="productdetail({id:mycart.id})">
								<h4>{{mycart.options.realname}}</h4>
								<h5>Ref. 2514/302</h5>
							</td>
							<td>
								<div class="in">
									<i class="fa fa-minus-circle color" ng-click="changeqty(mycart,'-')"></i>
									<input type="text" ng-model="mycart.qty" ng-change="onchangeqty(mycart)">
									<i class="fa fa-plus-circle color" ng-click="changeqty(mycart, '+')"></i>
									<p>
										<h6 style="color:red" ng-if="mycart.msg!=''">{{mycart.msg}}</h6></p>
									<a href="#"></a>
								</div>
							</td>
							<td>
								<p ng-if="mycart.options.originalprice != mycart.price" style="margin-left: -36px;">
									<i class="fa fa-inr strike">{{mycart.options.originalprice}}</i>
									<i class="fa fa-inr">{{mycart.price}}</i>
								</p>
								<p ng-if="mycart.options.originalprice == mycart.price">
									<i class="fa fa-inr">{{mycart.price}}</i>
								</p>
							</td>
							<td>
								<p><i class="fa fa-inr"></i>{{mycart.price * mycart.qty}}</p>
							</td>
							<td>
								<p><i class="fa fa-trash" ng-click="deletecart(mycart)"></i></p>
							</td>
						</tr>
					</tbody>
				</table>
				<div class="check">
					<h4>Discount Coupon</h4>
					<input type="text" placeholder="Enter Your Coupon code.." ng-model="coupon"><a class="app" ng-click="checkcoupon(coupon)">Apply</a>
					<a class="check-btn out" ng-click="tocheckout()">Proceed To Checkout</a>
					<a href="#/product/0/0/0" class="out text-capitalize">continue shopping</a>
					<hr>
					<div class="row">
						<div class="col-xs-8"></div>
						<div class="col-xs-4">
							<div class="total-table">
								<table class="table disc">
									<thead>
										<tr>
											<th>
												sub total
											</th>
											<th>
												discount
											</th>
											<th>
												total amount
											</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>
												<p><i class="fa fa-inr"></i>{{totalcart}}</p>
											</td>
											<td>
												<p><i class="fa fa-inr"></i>{{discountamount}}</p>
											</td>
											<td>
												<p><i class="fa fa-inr"></i>{{totalcart - discountamount}}</p>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
