<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="sign text-center pads">
                <h3>Your Shopping Bag</h3>
                <p>Items reserved for limited time only</p>
            </div>
            <div class="cart-det">
                <table class="table">
                    <thead>
                        <tr>
                            <th>product</th>
                            <th>DESCRIPTION</th>
                            <th>qty</th>
                            <th>unit price</th>
                            <th>total amount</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                               <div class="tables">
                                <img src="img/product/13.jpg" class="img-responsive">
                                </div>
                            </td>
                             <td>
                               <h4>FLORAL PLIMSOLL</h4>
                               <h5>Ref. 2514/302</h5>
                            </td>
                             <td>
                              <div class="in">
                               <input type="number"  placeholder="1"><a href="#"></a>
                               </div>
                            </td>
                             <td>
                                <p><i class="fa fa-inr"></i>4321.00</p>
                            </td>
                             <td>
                               <p><i class="fa fa-inr"></i>4321.00</p>
                            </td>
                             <td>
                               <p><i class="fa fa-times"></i></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                               <div class="tables">
                                <img src="img/product/13.jpg" class="img-responsive">
                                </div>
                            </td>
                             <td>
                               <h4>FLORAL PLIMSOLL</h4>
                               <h5>Ref. 2514/302</h5>
                            </td>
                             <td>
                              <div class="in">
                               <input type="number"  placeholder="1">
                                 </div>
                            </td>
                             <td>
                                <p><i class="fa fa-inr"></i>4321.00</p>
                            </td>
                             <td>
                               <p><i class="fa fa-inr"></i>4321.00</p>
                            </td>
                             <td>
                               <p><i class="fa fa-times"></i></p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>