<div class="container">
	<div class="row">
		<div class="pro-set">
			<div class="col-md-3">
				<div class="product-filter">
					<h4>product filters</h4>
					<div class="all">
						<div class="filter">
							<p>Brands</p>
							<hr class="line">
							<form class="sub-catgame">
								<ul>
									<li>
										<input id="Option" type="checkbox">
										<label class="checkbox" for="Option">Apple Iphone</label>
									</li>
									<li>
										<input id="option2" type="checkbox">
										<label class="checkbox" for="option2">nokia</label>
									</li>
									<li>
										<input id="option3" type="checkbox">
										<label class="checkbox" for="option3">samsung</label>
									</li>
									<li>
										<input id="option4" type="checkbox">
										<label class="checkbox" for="option4">mi</label>
									</li>
									<li>
										<input id="option5" type="checkbox">
										<label class="checkbox" for="option5">micromax</label>
									</li>
								</ul>
							</form>
						</div>
						<hr class="line">
						<div class="price filter">
							<p>price</p>

							<hr class="line">
							<div class="rupee" range-slider min="demo2.range.min" max="demo2.range.max" model-min="demo2.minPrice" model-max="demo2.maxPrice" filter="currency:'₹'" step="100"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-9">
				<div class="product-list" infinite-scroll='addMoreItems();' infinite-scroll-distance="0" infinite-scroll-disabled="shouldscroll">	
					<div class="col-md-4 col-sm-6" ng-repeat="pro in products">
						<div class="pro-box">
							<div class="img-box" ng-click="getproductdetails(pro.id);">
								<div class="pro-img1" ng-if="pro.image">
									<img ng-src="{{pro.image}}" class="img-responsive">
								</div>
								<div class="pro-img2" ng-if="!pro.image">
									<img ng-src="{{pro.image}}" class="img-responsive">
								</div>
								<div class="pro-img2" ng-if="pro.image">
									<img ng-src="{{pro.image}}" class="img-responsive">
								</div>
							</div>
							<div class="pro-name nopdl">
								<h5 class="text-center category-name">{{pro.name}}</h5>
								
							</div>
						</div>
					</div>

					<div class="col-md-4 col-sm-6" style="height: 337px">
						<div ng-if="products==''">
							{{dataload}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>