<div class="container">
	<div class="row">
		<div class="pro-set">
			<div class="col-md-12">
				<div class="product-list" infinite-scroll='addMoreItems();' infinite-scroll-distance="0" infinite-scroll-disabled="shouldscroll">	
					<div class="col-md-3 col-sm-6" ng-repeat="pro in products">
						<div class="pro-box" ng-click="categorydetail(pro.id);">
							<div class="img-box pdn">
								<div class="pro-img1 img1" ng-if="pro.image1">
									<img ng-src="{{pro.image1 | serverimage}}" class="img-responsive">
								</div>
								<div class="pro-img2 img2" ng-if="pro.image2">
									<img ng-src="{{pro.image2 | serverimage}}" class="img-responsive">
								</div>
								<div class="pro-img1 img1" ng-if="!pro.image1 && !pro.image2">
									<img ng-src="{{ggg | serverimage}}" class="img-responsive">
								</div>
							</div>
							<div class="pro-name nopdl">
								<h5 class="text-center category-name">{{pro.name}}</h5>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="centerno" ng-if="products==''">
            {{dataload}}
        </div>
	</div>
</div>