<div class="reset">
    <div class="container">
      <div class="account-head pads text-center text-uppercase">
          <h3>Change  password</h3>
      </div>
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
               {{msg}}
                <form action="">
                    <div class="form-group">
                      <input type="password" class="form-control" placeholder="Old Password"  ng-model="changePassword.oldpassword" >
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control" placeholder="New Passsword"  ng-model="changePassword.newpassword" >
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control" placeholder="Confirm Passsword"  ng-model="changePassword.confirmpassword" >
                    </div>
                    <button type="submit" class="btn-all" ng-click="newPassword();">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
