<div class="checkout">
	<div class="container">
		<form action="">
			<div class="check-info">
				<h3 class="head">Checkout</h3>
				<div class="check-panel">
					<div class="row">
						<div class="col-md-8">
							<div class="check-reg">
								<h4 class="text-uppercase">checkout as a guest or register</h4>
								<p class="reg">Register with us for future convenience:</p>
								<label class="form-divider">
									<input type="radio" name="1"> Checkout as guest</label>
								<label class="form-divider">
									<input type="radio" name="1"> Register</label>
							</div>
						</div>
						<div class="col-md-4">
							<div class="login">
								<h4 class="text-uppercase">Login</h4>
								<input type="text" class="form-control form-divider" placeholder="Username or email">
								<input type="text" class="form-control form-divider" placeholder="Password">
								<a href="#" class="pull-left forgot">Forgot Password?</a>
								<a href="#" class="pull-right btn-log">Login</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="billing-info">
				<h3 class="head">Billing information</h3>
				<div class="billing-panel">
					<div class="row">
						<div class="col-md-6">
							<div class="billing-reg">
								<input type="text" class="form-control form-divider" placeholder="First Name *" required>
								<input type="text" class="form-control form-divider" placeholder="Last Name *" required>
								<input type="text" class="form-control form-divider" placeholder="Company">
								<input type="email" class="form-control form-divider" placeholder="Email *" required>
								<textarea name="" id="" cols="30" rows="50" class="form-control form-divider" placeholder="Address *" required></textarea>
								<input type="text" class="form-control form-divider" placeholder="City *" required>
								<input type="text" class="form-control form-divider" placeholder="State/Province *" required>
								<input type="text" class="form-control form-divider" placeholder="Zip/Postal *" required>
								<select name="" id="" class="form-control form-divider" required>
									<option value="">Select Country </option>
									<option value="India" selected>India</option>
								</select>
								<input type="number" class="form-control form-divider" placeholder="Telephone *">
								<label class="form-divider">
									<input type="radio" name="check"> Ship to this address</label>
								<label class="form-divider">
									<input type="radio" name="check"> Ship to different address</label>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="ship-info">
				<h3 class="head">shipping information</h3>
				<div class="shipping-panel">
					<div class="row">
						<div class="col-md-6">
							<div class="shipping-reg">
								<input type="text" class="form-control form-divider" placeholder="Shipping Name *" required>
								<input type="number" class="form-control form-divider" placeholder="Telephone *" required>
								<textarea name="" id="" cols="30" rows="50" class="form-control form-divider" placeholder="Address *" required></textarea>
								<input type="text" class="form-control form-divider" placeholder="City *" required>
								<input type="text" class="form-control form-divider" placeholder="State/Province">
								<input type="text" class="form-control form-divider" placeholder="Zip/Postal *" required>
								<select name="" id="" class="form-control form-divider">
									<option value="">Select Country *</option>
									<option value="India" selected>India</option>
								</select>
								<textarea name="" class="form-control form-divider" placeholder="Customer Notes *"></textarea>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="pay-info">
				<h3 class="head">payment information</h3>
				<div class="payment-panel">
					<div class="row">
						<div class="col-md-6">
							<div class="payment-reg">
								<label class="form-divider">
									<input type="radio" name="payment-method"> Paypal</label>
								<label class="form-divider">
									<input type="radio" name="payment-method"> Credit cart</label>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="order-info">
				<h3 class="head">Order review</h3>
				<div class="row">
					<div class="col-md-6">
						<div class="order-panel">
							<table class="table">
								<thead class="text-uppercase">
									<th>subtotal</th>
									<th>discount</th>
									<th>total amount</th>
								</thead>
								<tbody>
									<tr>
										<td>
											<i class="fa fa-inr"></i>35,000.00
										</td>
										<td>
											<i class="fa fa-inr"></i>0
										</td>
										<td>
											<i class="fa fa-inr"></i>35,000.00
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</form>
		<div class="continue-btn">
			<a href="" class="contn pull-right">Continue</a>
		</div>
	</div>
</div>