<div class="contact text-uppercase">
	<div class="container">
		<div class="sign pads text-center">
			<h3>contact</h3>
			<p class="text-capitalize">Nulla ipsum dolor lacus,Cum sociis natoque penatibus et ultrices volutpat.</p>
		</div>
		<div class="cont-info">
			<div class="row">
				<div class="col-md-6">
					<div class="company-info">
						<address>
							<span> address :</span>
							<span class="text-capitalize">Plot no. 3, Flat no. A/30 Laxmi Nivas ,</span>
							<span class="text-capitalize"> Near Sadhana School , Sion (W) ,</span>
							<span class="text-capitalize">Mumbai 400022.</span>
						</address>
						<p>tel:<a href="tel:123456789">123456789</a></p>
						<p>email:<a href="mailto:info@wohlig.com">info@wohlig.com</a></p>
						<div class="map">
							<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15086.174908888928!2d72.8599335!3d19.0398171!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7cf2cc4000001%3A0xc683a42662527334!2sSadhana+English+Primary+School!5e0!3m2!1sen!2sin!4v1438506413750" width="510" height="280" frameborder="0" style="border:0" allowfullscreen=""></iframe>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<form action="">
						<div class="contact-info">
							<div class="topic">
								<label for="subject">subject</label>
								<input type="text" class="form-control" id="subject">
							</div>
							<div class="row">
								<div class="col-md-6">
									<label for="name">name</label>
									<input type="text" class="form-control" id="name">
								</div>
								<div class="col-md-6">
									<label for="e-mail">e-mail</label>
									<input type="email" class="form-control" id="e-mail">
								</div>
							</div>
							<div class="msg">
								<label for="msg">message</label>
								<textarea name="" id="msg" cols="30" rows="10"></textarea>
							</div>
							<div class="send-btn">
								<a href="" class="send pull-right">send</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>