<div class="contact">
	<div class="map">
		<div class="container">
			<div class="store-map">
				<p class="retail">Retail Stores</p>
				<div class="row">
					<div class="col-md-6">
						<div class="map1 padin">
							<h4 class="text-capitalize">Lower Parel</h4>
							<address>
								<span class="text-capitalize">G15, Grand Galleria,</span>
								<span class="text-capitalize">High Street Phoenix,</span>
								<span class="text-capitalize block">Lower Parel, (West), Mumbai - 400013.</span>
								<span class="call">Tel :
									Bhavik Gada: <a href="tel:+919773147046">+919773147046</a>
									Ranjit Naykal: <a href="tel:+919870599153"
										style="margin: 0px 10px">+919870599153</a>
									<a href="tel:02266373192">02266373192</a>
								</span>
								<span class="email">Email :
									<a href="mailto:sales@accessinfoworld.com">sales@accessinfoworld.com</a>
								</span>
								<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3772.559527394674!2d72.82195101466307!3d18.99505068713442!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7ce8c8c48bd95%3A0x758cd4cea2fae73b!2sGrand%20Galleria!5e0!3m2!1sen!2sin!4v1595504927354!5m2!1sen!2sin
									width=" 100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
						</div>
					</div>
					<div class="col-md-6">
						<div class="map2 padin">
							<h4 class="text-capitalize">corporate address</h4>
							<address>
								<span class="text-capitalize">238, Pragati Industrial Estate,</span>
								<span class="text-capitalize">NM Joshi Marg,</span>
								<span class="text-capitalize block">Lower Parel (East), Mumbai - 400011.</span>
								<span class="call">Tel :
									Chandresh Shah: <a href="tel:02223840789">02223840789</a>
									<a href="tel:02223840809" style="margin: 0px 10px">02223840809</a>
									<a href="tel:02249782233">02249782233</a>
								</span>
								<span class="email">Email :
									<a href="mailto:retail@accessinfoworld.com">retail@accessinfoworld.com</a>
								</span>
							</address>
							<iframe
								src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15090.629207018317!2d72.8302522!3d18.9907364!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x16c2d11068bcfb76!2sPragati%20Industrial%20Estate!5e0!3m2!1sen!2sin!4v1595504812427!5m2!1sen!2sin"
								width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="contact-head text-center pads">
			<h3>Contact Us</h3>
		</div>
		<div class="store-info">
			<div class="row">
				<!-- <div class="col-md-6">
					<div class="co-operate padin">
						<address>
							<span class="text-uppercase"> corporate address</span>
							<span class="text-capitalize">601, Aditya Arcade, Sixth Floor,</span>
							<span class="text-capitalize">Near Dreamland Cinema,</span>
							<span class="text-capitalize block">Grant Road (East), Mumbai - 07.</span>
							<span class="call">Tel :
								<a href="tel:">+91-22-23840789/809/810</a>
							</span>
							<span class="email">Email :
								<a href="mailto:sales@accessinfoworld.com">sales@accessinfoworld.com</a>
							</span>
						</address>
						<div class="co-operate-add">
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d943.3385077564078!2d72.81842453406816!3d18.95996589355609!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x787d8a7adb03fc87!2sAditya+Arcade!5e0!3m2!1sen!2sin!4v1444995391013"
							    width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
						</div>
					</div>
				</div> -->
				<div class=" col-md-offset-3 col-md-6">
					<div class="get-in padin">
						<h4 class="text-uppercase touch">get in touch</h4>
						<h5>
							<span style="color: tomato;">{{msg}}</span>
						</h5>
						<h5>
							<span style="color: #2CBF2C;">{{msgsuccess}}</span>
						</h5>
						<form action="" class="from-control">
							<input type="text" class="form-control" ng-model="contact.name"
								ng-class="allvalidation[0].validation" placeholder="Name *" required>
							<input type="email" class="form-control" ng-model="contact.email"
								ng-class="allvalidation[0].validation" placeholder="Email *" required>
							<input type="tel" class="form-control" ng-model="contact.phone" placeholder="Telephone">
							<textarea class="form-control" ng-model="contact.comment"
								ng-class="allvalidation[0].validation" placeholder="Query *" required></textarea>
							<a class="submit-btn-all pull-right" ng-click="usercontact(contact)">Submit</a>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>