<div class="exclusive">
	<div class="container">
		<div class="exculsive-list text-capitalize">
			<div class="row">
				<div class="col-md-offset-2 col-md-8">
					<div class="row">
						<div class="col-md-3">
							<div class="iphone-access">
								<h5 class="text-capitalize">cover &amp; Cases</h5>
								<ul>
									<li><a href="" title="Iphone">Iphone Covers</a></li>
									<li><a href="" title="Iphone">Samsung Covers</a></li>
									<li><a href="" title="Iphone">Sony Covers</a></li>
									<li><a href="" title="Iphone">Yureka Covers</a></li>
									<li><a href="" title="Iphone">Micromaxx covers</a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-3">
							<div class="iphone">
								<h5>I-phone</h5>
								<ul>
									<li><a href="" title="Iphone">iphone 4s</a></li>
									<li><a href="" title="Iphone">iphone 5s</a></li>
									<li><a href="" title="Iphone">iphone 5c</a></li>
									<li><a href="" title="Iphone">iphone 6</a></li>
									<li><a href="" title="Iphone">iphone 6+</a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-3">
							<div class="headphone">
								<h5>Headphones</h5>
								<ul>
									<li><a href="" title="Head phones">Beats</a></li>
									<li><a href="" title="Head phones">Sony</a></li>
									<li><a href="" title="Head phones">JBL</a></li>
									<li><a href="" title="Head phones">Skull candy</a></li>
									<li><a href="" title="Head phones">Philips</a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-3">
							<div class="acces">
								<h5>Accessories</h5>
								<ul>
									<li><a href="" title="Accessories">Tech Accesories</a></li>
									<li><a href="" title="Accessories">Bags</a></li>
									<li><a href="" title="Accessories">belt</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-3">
							<div class="watch-prdt">
								<h5>watches</h5>
								<ul>
									<li><a href="" title="watch">Analog</a></li>
									<li><a href="" title="watch">chronograph</a></li>
									<li><a href="" title="watch">digital</a></li>
									<li><a href="" title="watch">watch cases</a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-3">
							<div class="laptop-prdt">
								<div class="h5">Laptops</div>
								<ul>
									<li><a href="" title="Laptop">Dell</a></li>
									<li><a href="" title="Laptop">hp</a></li>
									<li><a href="" title="Laptop">lenevo</a></li>
									<li><a href="" title="Laptop">asus</a></li>
									<li><a href="" title="Laptop">compaq</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>