<div class="faq">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-1 col-md-10">
				<div class="sign pads text-center">
					<h3>Faq's</h3>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="list">
							<ul>
								<li><a href="" ng-click="switchFAQ(1)">My Account &amp; My Order</a></li>
								<li><a href="" ng-click="switchFAQ(2)">Cancellation &amp; Related Queries</a></li>
								<li><a href="" ng-click="switchFAQ(3)">Payment Mode</a></li>
								<li><a href="" ng-click="switchFAQ(4)">Access Wallet</a></li>
								<li><a href="" ng-click="switchFAQ(5)">Shipping &amp; Tracking</a></li>
								<li><a href="" ng-click="switchFAQ(6)">Return Policy</a></li>
								<li><a href="" ng-click="switchFAQ(7)">Refund Policy</a></li>
								<li><a href="" ng-click="switchFAQ(8)">Miscellaneous</a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-8">
						<div class="faq-info">
							<div class="content" ng-show="selectFAQ[1]">
								<h3>My Account &amp; My Order</h3>
								<div class="content-main">
									<h4>How do I place my order?</h4>
									<p>To place your order, follow these steps :</p>
									<ul>
										<li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</li>
										<li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</li>
										<li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</li>
									</ul>
								</div>
								<div class="content-main">
									<h4>How will I receive my Order?</h4>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
								</div>
								<div class="content-main">
									<h4>How will I get confirmation that my Order is placed successfully?</h4>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
								</div>
								<div class="content-main">
									<h4>I tried placing my order using my debit card/credit card/Net Banking. The order was not successful but my money got deducted. What really happened with my money?</h4>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
								</div>
								<div class="content-main">
									<h4>How should I check the status of my Order?</h4>
									<ul>
										<li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</li>
										<li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</li>
									</ul>
								</div>
							</div>
							<div class="content" ng-show="selectFAQ[2]">
								<h3>Cancellation &amp; Related Queries</h3>
								<div class="content-main">
									<h4>How do I cancel my order?</h4>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
								</div>
							</div>
							<div class="content" ng-show="selectFAQ[3]">
								<h3>Payment Mode</h3>
								<div class="content-main">
									<h4>Are there any COD charges?</h4>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
								</div>
								<div class="content-main">
									<h4>What payment methods do you accept for international orders?</h4>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
								</div>
								<div class="content-main">
									<h4>Is it safe to shop online if I make payment using net banking, Debit card or Credit Card?</h4>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
								</div>
								<div class="content-main">
									<h4>Why am I not getting any COD option on the payment page?</h4>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
								</div>
								<div class="content-main">
									<h4>Are there any hidden charges?</h4>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
								</div>
								<div class="content-main">
									<h4>What should I do if my payment fails?</h4>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
								</div>
							</div>
							<div class="content" ng-show="selectFAQ[4]">
								<h3>Access Wallet</h3>
								<div class="content-main">
									<h4>What is the Access Wallet?</h4>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
									<ul>
										<li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
										<li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
									</ul>
								</div>
								<div class="content-main">
									<h4>Is there any expiry date for Wallet balance?</h4>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
								</div>
								<div class="content-main">
									<h4>Can I transfer or en-cash my Wallet balance?</h4>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
								</div>
							</div>
							<div class="content" ng-show="selectFAQ[5]">
								<h3>Shipping &amp; Tracking</h3>
								<div class="content-main">
									<h4>What is the Shipping Philosophy of Access?</h4>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
								</div>
								<div class="content-main">
									<h4>What is the delivery time period?</h4>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
								</div>
								<div class="content-main">
									<h4>Do you apply any shipping charges?</h4>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
								</div>
								<div class="content-main">
									<h4>Do you accept international orders?</h4>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
								</div>
							</div>
							<div class="content" ng-show="selectFAQ[6]">
								<h3>Return Policy</h3>
								<div class="content-main">
									<ul>
										<li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
										<li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
										<li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
										<li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
										<li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
										<li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
										<li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
									</ul>
								</div>
							</div>
							<div class="content" ng-show="selectFAQ[7]">
								<h3>Refund Policy</h3>
								<div class="content-main">
									<h4>What are the terms and conditions for refund?</h4>
									<ul>
										<li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
										<li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
										<li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
										<li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
									</ul>
								</div>
								<div class="content-main">
									<h4>What are the rules for Courier charges refund?</h4>
									<ul>
										<li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
										<li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
										<li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
										<li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
									</ul>
								</div>
								<div class="content-main">
									<h4>How long the refund procedure takes?</h4>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
								</div>
								<div class="content-main">
									<h4>Where should I return my product?</h4>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
								</div>
								<div class="content-main">
									<h4>Where should I return my product?</h4>
									<ul>
										<li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
										<li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
										<li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
									</ul>
								</div>
							</div>
							<div class="content" ng-show="selectFAQ[8]">
								<h3>Miscellaneous</h3>
								<div class="content-main">
									<h4>Will I automatically receive marketing emails from you after registration?</h4>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
								</div>
								<div class="content-main">
									<h4>What to do if I forgot my password?</h4>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
								</div>
								<div class="content-main">
									<h4>Do you accept bulk order?</h4>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
								</div>
								<div class="content-main">
									<h4>I want to place an order but I don't want any price tag or invoice attached as it is a gift for someone. Is it possible?</h4>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
								</div>
								<div class="content-main">
									<h4>Is there any trial then purchase option available?</h4>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
								</div>
								<div class="content-main">
									<h4>I wish to add few more products in my order. Will it be possible?</h4>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>