<div class="faq">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-1 col-md-10">
				<div class="sign pads text-center">
					<h3>Faq's</h3>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="list">
							<ul>
								<li><a href="" ng-click="switchFAQ(1)">My Account &amp; My Order</a></li>
								<li><a href="" ng-click="switchFAQ(2)">Cancellation &amp; Related Queries</a></li>
								<li><a href="" ng-click="switchFAQ(3)">Payment Mode</a></li>
								<!--								<li><a href="" ng-click="switchFAQ(4)">Access Wallet</a></li>-->
								<li><a href="" ng-click="switchFAQ(5)">Shipping &amp; Tracking</a></li>
								<li><a href="" ng-click="switchFAQ(6)">Return Policy</a></li>
								<li><a href="" ng-click="switchFAQ(7)">Refund Policy</a></li>
								<li><a href="" ng-click="switchFAQ(8)">Miscellaneous</a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-8">
						<div class="faq-info">
							<div class="content" ng-show="selectFAQ[1]">
								<h3>My Account &amp; My Order</h3>
								<div class="content-main">
									<h4>How do I place my order?</h4>
									<p>To place your order, follow these steps :</p>
									<ol type="1">
										<li>Browse through our wide catalog of products until you find something you like and click on the ‘Add to Cart’ button (you are eligible to add multiple products on your cart).</li>
										<li>‘In My cart’, you can either choose to continue shopping or confirm the order.</li>
										<li>Once the cart is all set, proceed to checkout, submit your shipping address, select the desired payment process and confirm your order.</li>
									</ol>
								</div>
								<div class="content-main">
									<h4>How will I receive my Order?</h4>
									<p>We will ship your product on your mentioned shipping address. We have tie ups with reputed courier companies, so your orders will be delivered to your doorstep. All orders will be delivered in fully sealed packages to protect your goods and ensure that they reach you in perfect condition.</p>
								</div>
								<div class="content-main">
									<h4>How will I get confirmation that my Order is placed successfully?</h4>
									<p>We'll send an email with your order information to confirm and another email when your order is shipped out. However, the order will be accepted and sent to you once your credit card/debit card and address details have been approved and verified, unless it’s a COD. </p>
								</div>
								<div class="content-main">
									<h4>I tried placing my order using my debit card/credit card/Net Banking. The order was not successful but my money got deducted. What really happened with my money?</h4>
									<ol type="1">
										<li>Please check your bank/credit card account to first ensure if your account has been debited. If your account has been debited after a payment failure, it is normally rolled back by banks within 7 business days.</li>
										<li>For assistance you can write to us at <a href="mailto:care@accessworld.in" class="mail" target="_blank">care@accessworld.in</a>, we will be happy to help you out.</li>
									</ol>
								</div>
								<div class="content-main">
									<h4>How should I check the status of my Order?</h4>
									<ol type="1">
										<li>If you have a user account and were logged in while you placed your order, rest assured you can track the status of your order in your account .</li>
										<li>Once your order is placed, we will send you confirmation of your order details over email and sms. Again, once we dispatch your shipment you will be notified via sms. In case of any unusual event which delays your order, you would receive a special update from our end.</li>
										<li>If you still have apprehensions, write to us at <a class="mail" href="mailto:care@accessworld.in" class="mail" target="_blank">care@accessworld.in</a>, and your issue will be addressed.</li>
									</ol>
								</div>
							</div>
							<div class="content" ng-show="selectFAQ[2]">
								<h3>Cancellation &amp; Related Queries</h3>
								<div class="content-main">
									<h4>How do I cancel my order?</h4>
									<ul>
										<li>COD orders can be cancelled directly from the registered account before it gets shipped.</li>
										<li>For prepaid orders, please contact our Customer Care at <a class="mail" href="mailto:care@accessworld.in" class="mail" target="_blank">care@accessworld.in</a> to cancel the order and refund your payment. The refund amount will be credited to your a/c.</li>

										<li><p class="red-me">If the order is shipped already, unfortunately we wouldn’t be able to cancel it. However, you can politely refuse to accept the shipment and let us know about it. If you have accepted the shipment, no worries, you can return the product and exchange it for something else.</p></li>
										<li>In case you desire any changes or edits in your order, please write to us at <a class="mail" href="mailto:care@accessworld.in" class="mail" target="_blank">care@accessworld.in</a>. Our Customer Care representatives will help you out with customized solutions wherever possible.</li>
									</ul>
								</div>
							</div>
							<div class="content" ng-show="selectFAQ[3]">
								<h3>Payment Mode</h3>
								<div class="content-main">
									<h4>Are there any COD charges?</h4>
									<p class="red-me">You will be levied a COD charge of Rs. 40 on the first product in your order and an extra Rs. 20 for every next product you add to your order. For example, if your order includes three products, you will be levied a COD charge of Rs. 40 on the first product and Rs. 20 on each of the other 2 products making your total COD charge as Rs 80.</p>
								</div>
								<!--
								<div class="content-main">
									<h4>What payment methods do you accept for international orders?</h4>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
								</div>
-->
								<div class="content-main">
									<h4>Is it safe to shop online if I make payment using net banking, Debit card or Credit Card?</h4>
									<p>All Credit Card, Debit Card and net banking transactions are processed over a secure encrypted connection.</p>
								</div>
								<div class="content-main">
									<h4>Why am I not getting any COD option on the payment page?</h4>
									<p>It  means cash on delivery is not serviceable by our courier partners at your location postal code but you can always opt for Net Banking or Credit/Debit Card.</p>
								</div>
								<div class="content-main">
									<h4>Are there any hidden charges?</h4>
									<p class="red-me">There are absolutely no hidden charges. Any octroi or sales tax is actually borne by Access. You pay only the amount that you see in your order summary.</p>
								</div>
								<div class="content-main">
									<h4>What should I do if my payment fails?</h4>
									<p>In case of a payment failure, please retry ensuring :</p>
									<ol type="1">
										<li>Information passed on to payment gateway is accurate i.e. account details, billing address, password (for net banking) and that your Internet connection is not disrupted in the process.</li>
										<li>If your account has been debited after a payment failure, it is normally rolled back to your bank account within 7 business days For any further clarification, you can email us on <a class="mail" href="mailto:care@accessworld.in" class="mail" target="_blank">care@accessworld.in</a></li>
									</ol>
								</div>
							</div>
							<!--
							<div class="content" ng-show="selectFAQ[4]">
								<h3>Access Wallet</h3>
								<div class="content-main">
									<h4>What is the Access Wallet?</h4>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
									<ul>
										<li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
										<li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
									</ul>
								</div>
								<div class="content-main">
									<h4>Is there any expiry date for Wallet balance?</h4>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
								</div>
								<div class="content-main">
									<h4>Can I transfer or en-cash my Wallet balance?</h4>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
								</div>
							</div>
-->
							<div class="content" ng-show="selectFAQ[5]">
								<h3>Shipping &amp; Tracking</h3>
								<div class="content-main">
									<h4>What is the Shipping Philosophy?</h4>
									<p>We promise our patrons one of the best experiences of online shopping that is hassle free and reliable. We take care of all parameters that ensure your delivery reaches you in a sound state.</p>
								</div>
								<div class="content-main">
									<h4>What is the delivery time period?</h4>
									<p>Orders within India are delivered within 7 - 8 working days. Delivery time may vary depending upon the shipping address.</p>
								</div>
								<div class="content-main">
									<h4>Do you apply any shipping charges?</h4>
									<p class="red-me">Within India, Accessworld.in provides Free Shipping for order above Rs 500. There will be a shipping charge of Rs 49 on orders of Rs. 500 or below. For shipping charges anywhere outside India please contact us on <a class="mail" href="mailto:care@accessworld.in" class="mail" target="_blank">care@accessworld.in</a></p>
								</div>
								<div class="content-main">
									<h4>Do you accept international orders?</h4>
									<p>We are currently not accepting International orders but it will be resumed shorty.</p>
									<p>For any other queries, please write to us at <a class="mail" href="mailto:care@accessworld.in" class="mail" target="_blank">care@accessworld.in</a></p>
								</div>
							</div>
								<div class="content" ng-show="selectFAQ[6]">
									<h3>Return Policy</h3>
									<div class="content-main">
										<ul class="red-me" type="1">
											<li>Customers can return their order within 3 days after the order delivery.</li>
											<li>All returns must be in unused condition with all original tags and packaging intact.</li>
											<li>The product amount will be credited back to his/her Accessworld.in account, once we have received the products and quality check is done.</li>
											<li>Refund of shipping and COD charges is not applicable .</li>
											<li>If you choose to self-ship your returns, you are requested to pack the items securely to prevent any loss or damage during transit. For all self-shipped returns, we recommend you to do it through a reliable local courier service.</li>
											<li>To schedule a return, please fill in the Return Form which is available in the "My Orders" section of your Access Account.</li>
											<li><b>Note:</b> For replacement, kindly follow the return procedure for the product you want to replace and then use the store credit we give you in Access account to place the order for the new product.</li>
										</ul>
									</div>
								</div>
								<div class="content" ng-show="selectFAQ[7]">
									<h3>Refund Policy</h3>
									<div class="content-main">
										<h4>What are the terms and conditions for refund?</h4>
										<ol type="1">
											<li>You can ask for a refund against any of your order within 15 days of its date of delivery.</li>
											<li> All refunds will be credited in your Access Account as store credits which you can use to shop on Accessworld.in</li>
											<li>If you are a guest user you will need to register with the email address which you had used to place your order to access account.</li>
												<li>For any other requests or queries regarding this, kindly write to us at <a class="mail" href="mailto:care@accessworld.in" class="mail" target="_blank">care@accessworld.in</a></li>
										</ol>
									</div>
									<div class="content-main">
										<h4>How long the refund procedure takes?</h4>
										<p>The refund procedure will be initiated within 48 hours once we receive your product. Once initiated, the amount will reflect in your Access E-account as store credits.</p>
									</div>
									<div class="content-main">
										<h4>Where should I return my product?</h4>
										<p>You could courier the product to us at the address mentioned below </p>
										<p>Access 601, Aditya Arcade, Opp Dreamland Cinema, Off  Lamington Rd, Grant Road (E), Mumbai – 400007</p>
									</div>
									<div class="content-main">
										<h4>I haven't received my refund yet. What should I do?</h4>
										<ol type="1">
											<li>We update our customers through emails once we initiate the refund procedure.</li>
											<li>If our last email states that we have initiated the refund procedure, kindly wait for the process to complete.</li>
											<li>For queries you can write to us at <a class="mail" href="mailto:care@accessworld.in" class="mail" target="_blank">care@accessworld.in</a></li>
										</ol>
									</div>
								</div>
								<div class="content" ng-show="selectFAQ[8]">
									<h3>Miscellaneous</h3>
									<div class="content-main">
										<h4>Will I automatically receive marketing emails from you after registration?</h4>
										<p>If you register with us, you are inevitably getting subscribed to our newsletter.</p>
									</div>
									<div class="content-main">
										<h4>What to do if I forgot my password?</h4>
										<p>Just click on 'Forgot Password' option and we will send it to you on your email address registered with us.</p>
									</div>
									<div class="content-main">
										<h4>Do you accept bulk order?</h4>
										<p>Yes, we do accept bulk order.</p>
									</div>
									<div class="content-main">
										<h4>I want to place an order but I don't want any price tag or invoice attached as it is a gift for someone. Is it possible?</h4>
										<p>Unfortunately no! Because of the prevalent regulations, we send the invoice along with the product. Tags are also left intact so that a product can be replaced if your loved one faces any issues.</p>
									</div>
									<div class="content-main">
										<h4>Is there any trial then purchase option available?</h4>
										<p>You can check with any of our Stores if the Product is available for Demo. For any queries please write to us at <a class="mail" href="mailto:care@accessworld.in" class="mail" target="_blank">care@accessworld.in</a></p>
									</div>
									<div class="content-main">
										<h4>I wish to add few more products in my order. Will it be possible?</h4>
										<p>Once you have confirmed the order and we have accepted it, unfortunately you cannot add any more products to your order. You can always place another Order.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>