<div class="slider">
    <flex-slider class="carousel" flex-slide="s in slides" animation="slide" animation-loop="false">
        <li>
            <img ng-src="{{s}}">
        </li>
    </flex-slider>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8 padr">
            <div class="pro-imgleft grid cs-style-3">
              
                	<figure>
						  <img src="img/product/1.png" class="img-responsive">
						<figcaption>
							<h3>Product name</h3>
							<span>Rs 7500</span>
							<a href="#/product">Shop Now</a>
						</figcaption>
					</figure>
            </div>
        </div>
        <div class="col-md-4">
            <div class="pro-imgright grid cs-style-3">
                	<figure>
						  <img src="img/product/2.png" class="img-responsive">
						<figcaption>
							<h3>Product name</h3>
							<span>Rs 7500</span>
							<a href="#/product">Shop Now</a>
						</figcaption>
					</figure>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="scond-pro">
            <div class="col-md-4 padr">
                <div class="pro-imgright grid cs-style-3">
                  	<figure>
						  <img src="img/product/3.png" class="img-responsive">
						<figcaption>
							<h3>Product name</h3>
							<span>Rs 7500</span>
							<a href="#/product">Shop Now</a>
						</figcaption>
					</figure>
                </div>
            </div>
            <div class="col-md-8 ">
                <div class="pro-imgleft grid cs-style-3">
                   	<figure>
						  <img src="img/product/4.png" class="img-responsive">
						<figcaption>
							<h3>Product name</h3>
							<span>Rs 7500</span>
							<a href="#/product">Shop Now</a>
						</figcaption>
					</figure>
                </div>
            </div>
        </div>

    </div>
    <div class="sign">
        <div class="row">
            <div class="col-md-offset-2 col-md-8 text-center">
                <h3>sign up to receive our updates</h3>
                <p>Nulla ipsum dolor lacus, suscipit adipiscing. Cum sociis natoque penatibus et ultrices volutpat.</p>
                
                <div class="search padtp">
                       <p>{{msg}}</p>
                        <div class="input-group">
                            <input type="text" class="form-control" ng-class="allvalidation[0].validation" ng-model="subscribe.email" placeholder="Your email...">
                            <span class="input-group-btn">
        <button class="btn btn-default custom" type="button" ng-click="usersubscribtion()">Subscribe</button>
      </span>
                        </div>
                        </div>
            </div>
               
        </div>
    </div>
</div>