<div class="slider">
   <flex-slider class="carousel" flex-slide="s in slides track by $index" animation="slide" animation-loop="true">
      <li>
         <img ng-src="{{s.image | serverimage}}" ng-click="goToProductDetail2(s.product);" class="pointer">
      </li>
   </flex-slider>
</div>
<div class="container">
   <div class="row">
      <div class="col-md-6 padr" ng-if="homeProducts.length>=1">
         <div class="pro-imgleft grid cs-style-3">
            <figure ng-click="goToProductDetail(homeProducts[0]);">
               <img ng-src="{{homeProducts[0].images[0][0].image | serverimage}}" class="img-responsive" ng-if="homeProducts[0].images.length>0">
               <figcaption>
                  <h3>{{homeProducts[0].name}}</h3>
                  <span ng-show="homeProducts[0].showSalePrice">Rs {{homeProducts[0].firstsaleprice}}</span>
                  <span class="cross" ng-show="homeProducts[0].showSalePrice">Rs {{homeProducts[0].price}}</span>
                  <span ng-hide="homeProducts[0].showSalePrice">Rs {{homeProducts[0].price}}</span>
                  <a>Shop Now</a>
               </figcaption>
            </figure>
         </div>
      </div>
      <div class="col-md-6 padr" ng-if="homeProducts.length>=2">
         <div class="pro-imgleft grid cs-style-3">
            <figure ng-click="goToProductDetail(homeProducts[1]);">
               <img ng-src="{{homeProducts[1].images[0][0].image | serverimage}}" class="img-responsive" ng-if="homeProducts[1].images.length>0">
               <figcaption>
                  <h3>{{homeProducts[1].name}}</h3>
                  <span ng-show="homeProducts[1].showSalePrice">Rs {{homeProducts[1].firstsaleprice}}</span>
                  <span class="cross" ng-show="homeProducts[1].showSalePrice">Rs {{homeProducts[1].price}}</span>
                  <span ng-hide="homeProducts[1].showSalePrice">Rs {{homeProducts[1].price}}</span>
                  <a>Shop Now</a>
               </figcaption>
            </figure>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="scond-pro">
         <div class="col-md-6 padr" ng-if="homeProducts.length>=3">
            <div class="pro-imgleft grid cs-style-3">
               <figure ng-click="goToProductDetail(homeProducts[2]);">
                  <img ng-src="{{homeProducts[2].images[0][0].image | serverimage}}" class="img-responsive" ng-if="homeProducts[2].images.length>0">
                  <figcaption>
                     <h3>{{homeProducts[2].name}}</h3>
                     <span ng-show="homeProducts[2].showSalePrice">Rs {{homeProducts[2].firstsaleprice}}</span>
                     <span class="cross" ng-show="homeProducts[2].showSalePrice">Rs {{homeProducts[2].price}}</span>
                     <span ng-hide="homeProducts[2].showSalePrice">Rs {{homeProducts[2].price}}</span>
                     <a>Shop Now</a>
                  </figcaption>
               </figure>
            </div>
         </div>
         <div class="col-md-6 padr" ng-if="homeProducts.length>=4">
            <div class="pro-imgleft grid cs-style-3">
               <figure ng-click="goToProductDetail(homeProducts[3]);">
                  <img ng-src="{{homeProducts[3].images[0][0].image | serverimage}}" class="img-responsive" ng-if="homeProducts[3].images.length>0">
                  <figcaption>
                     <h3>{{homeProducts[3].name}}</h3>
                     <span ng-show="homeProducts[3].showSalePrice">Rs {{homeProducts[3].firstsaleprice}}</span>
                     <span class="cross" ng-show="homeProducts[3].showSalePrice">Rs {{homeProducts[3].price}}</span>
                     <span ng-hide="homeProducts[3].showSalePrice">Rs {{homeProducts[3].price}}</span>
                     <a>Shop Now</a>
                  </figcaption>
               </figure>
            </div>
         </div>
      </div>
   </div>
   <div class="sign">
      <div class="row">
         <div class="col-md-offset-2 col-md-8 text-center">
            <h3>sign up to receive our updates</h3>
            <!-- <p>Nulla ipsum dolor lacus, suscipit adipiscing. Cum sociis natoque penatibus et ultrices volutpat.</p> -->
            <div class="search padtp">
               <p>{{msg}}</p>
               <div class="input-group">
                  <input type="email" class="form-control" ng-class="allvalidation[0].validation" ng-model="subscribe.email" placeholder="Your email...">
                  <span class="input-group-btn">
                    <button class="btn btn-default custom" type="button" ng-click="usersubscribtion()">Subscribe</button>
                  </span>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
