<div class="container">
    <div class="row">
        <div class="col-md-12 marg">
             <div class="sign pads">
                <h3 class="text-center" >login / registration</h3>
                <hr class="text-center" >
<!--                <p>Items reserved for limited time only</p>-->
           <div class="col-md-offset-1 col-md-5">
               <div class="login borderright">
                   <h4>Login</h4>
                   <form>
                   <input type="text" placeholder="Username  *" class="form-control">
                   <input type="password" placeholder="Password *" class="form-control">
                   </form>
                   <p><a href="#" class="btns">login</a><a class="btn btn-primary pull-right g-login g-logins" href="#"><i class="fa fa-google-plus"></i>Google+</a><a class="btn btn-primary pull-right f-login g-logins" href="#"><i class="fa fa-facebook"></i>Facebook</a></p>
                   <span> <a href="#/forgotpassword">Forgot your password?</a> </span>
               </div>
           </div>
           <div class="col-md-offset-1 col-md-5">
                  <div class="login">
                   <h4>create an account</h4>
                   <form>
                   <input type="text" placeholder="Name *" class="form-control">
                   <input type="text" placeholder="Last name *" class="form-control">
                   <input type="email" placeholder="Email *" class="form-control">
                   <input type="text" placeholder="Last name *" class="form-control">
                   <input type="password" placeholder="Password *" class="form-control">
                   <input type="password" placeholder="Confirm password *" class="form-control">
                   </form>
                   <a href="#" class="btns">create an account</a>
               </div>
           </div>
            </div>
        </div>
    </div>
</div>