<div class="order-history text-uppercase">
	<div class="container">
		<div class="ord-his pads text-center">
			<h3 class="ord-info"><span>hi michal,</span>this is your order history</h3>
		</div>
		<div class="order-details">
			<table class="table">
				<thead>
					<th>order no</th>
					<th>order date</th>
					<th>Products</th>
					<th>status</th>
					<th>ship date</th>
					<th>total amount</th>
				</thead>
				<tbody>
					<tr>
						<td>#28364</td>
						<td>21/05/2014</td>
						<td>
							<div class="product-info">
								<div class="productinfo1">
									<img src="img/product/13.jpg" alt="" class="img-responsive pull-left size">
									<div class="img-desc">
										<h4>floral plimsoll</h4>
										<span>Ref.8246/044</span>
									</div>
								</div>
								<div class="productinfo2">
									<img src="img/product/13.jpg" alt="" class="img-responsive pull-left size">
									<div class="img-desc">
										<h4>coated 5 pocket trousersl</h4>
										<span>Ref.8246/044</span>
									</div>
								</div>
								<div class="productinfo3">
									<img src="img/product/13.jpg" alt="" class="img-responsive pull-left size">
									<div class="img-desc">
										<h4>oversized studio blouse</h4>
										<span>Ref.8246/044</span>
									</div>
								</div>
							</div>
						</td>
						<td>open</td>
						<td>22/05/2014</td>
						<td>
							<div class="amt">
								<i class="fa fa-eur"></i>345.00
							</div>
						</td>
					</tr>
					<tr>
						<td>#28365</td>
						<td>11/05/2014</td>
						<td>
							<div class="productinfo4">
								<img src="img/product/13.jpg" alt="" class="img-responsive pull-left size">
								<div class="img-desc">
									<h4>dress with knot at the back</h4>
									<span>Ref.8246/044</span>
								</div>
							</div>
						</td>
						<td>paid</td>
						<td>13/05/2015</td>
						<td>
							<div class="amt">
								<i class="fa fa-eur"></i>105.00
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="more-items text-center text-uppercase">
		<p>show me more items</p>
	</div>
</div>