<div class="order-history text-uppercase">
	<div class="container">
		<div class="ord-his pads text-center">
			<h3 class="ord-info"><span>hi {{user.firstname}},</span>this is your order history</h3>
		</div>
		<div class="order-details" ng-if="orders!=''">
			<table class="table">
				<thead>
					<th>order no</th>
					<th>order date</th>
					<th>Products</th>
					<th>status</th>
					<th>ship date</th>
					<th>total amount</th>
				</thead>
				<tbody>
					<tr ng-repeat="order in orders">
						<td>#{{order.id}}</td>
						<td>{{order.date}}</td>
						<td>
							<div class="product-info clearfix" ng-repeat="ord in order.products">
								<div class="product-info">
									<div class="img-holder pull-left">
										<img ng-src="{{ord.image|serverimage}}" alt="" class="img-responsive size">
									</div>
									<div class="img-desc">
										<h4>{{ord.name}}</h4>
										<!-- <h5>Ref.8246/044</h5> -->
									</div>
								</div>
							</div>
						</td>
						<td>{{order.orderstatusname}}</td>
						<td>-</td>
						<td>
							<div class="amt">
								<i class="fa fa-inr"></i>{{order.finalamount}}
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="centerno" ng-if="orders==''">
				{{dataload}}
		</div>
	</div>
	<div class="more-items text-center text-uppercase" ng-click="loadMoreOrders()" ng-if="lastpage>pageno">
		<p>show me more items</p>
	</div>
</div>
