<div class="privacy space">
	<div class="container">
		<div class="sign pads text-center">
			<h3>Privacy Policy</h3>
		</div>
		<div class="info">
			<div class="link-title">
				<a href="">Personal Information</a>
			</div>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
			<ul>
				<li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
				<li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
				<li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
				<li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
				<li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
			</ul>
		</div>
		<div class="info">
			<div class="link-title">
				<a href="">Security</a>
			</div>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
		</div>
		<div class="info">
			<div class="link-title">
				<a href="">Advertising</a>
			</div>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
		</div>
		<div class="info">
			<div class="link-title">
				<a href="">User Discretion</a>
			</div>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
		</div>
		<div class="info">
			<div class="link-title">
				<a href="">Important Disclaimer</a>
			</div>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
		</div>
	</div>
</div>