<div class="producthover" ng-controller="submenuctrl">
	<div class="container">
		<div class="product-hov-list text-capitalize">
			<div class="list1">
				<div class="row">
					<div class="col-md-12">
						<div class="list1-1">
							<div class="row">
								<div class="col-md-2" ng-repeat="cat in categories">
									<div class="iphone-access">
										<h5 class="text-capitalize">{{cat.name}}</h5>
										<ul>
											<li ng-repeat="subcat in cat.subcategory"><a href="#/product/{{subcat.id}}/0/0">{{subcat.name}}</a></li>
										</ul>
									</div>
								</div>
								<!-- <div class="col-md-2">
									<div class="Mobile">
										<h5 ng-click="categorydetailhover(3);">Earphones &amp; Headphones</h5>
										<ul>
											<li><a href="" ng-click="categorydetailhover(4);">Wireless Headphones</a></li>
										</ul>
									</div>
								</div>
								<div class="col-md-2">
									<div class="headphone">
										<h5 ng-click="categorydetailhover(5);">Speakers &amp; Docks</h5>
										<ul>
											<li><a href="" ng-click="categorydetailhover(6);">Bluetooth</a></li>
										</ul>
									</div>
								</div> -->

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
