<div class="container">
	<div class="proset-set">
		<div class="row">
			<div class="col-md-4">
				<div class="det-txt">
					<h3>{{product.product.name}}</h3>
					<p>dell</p>
					<span class="avi">availability :<p>{{availability}}</p></span>
					<div class="rat">
						<span class="spanli"><ul>
    <li><i class="fa fa-star"></i></li>
    <li><i class="fa fa-star"></i></li>
    <li><i class="fa fa-star"></i></li>
    <li><i class="fa fa-star"></i></li>
    <li><i class="fa fa-star-o"></i></li>
</ul></span>
					</div>
					<hr class="line">
				</div>
				<div class="pro-desc">
					<h2><i class="fa fa-inr"></i>{{product.product.price}}<span class="tax">( inclusive of all taxes )</span></h2>
					<div class="qua">
						<input type="number" value="1" placeholder="1" min="1" ng-model="product.product.quantity">
						<a ng-click="addtowishlist(product.product.id)"><i class="fa fa-heart {{product.product.fav}}"></i>Add To Wishlist</a>
						<a class="ad-cart" ng-click="addtocart(product.product)"><i class="fa fa-shopping-cart "></i>Add To cart</a>
					</div>
					<ul class="img-thumb">
						<li ng-repeat="color in product.relatedproduct" ng-click="onimgclick(color.image)">
							<a href=""><img src="{{color.image | serverimage}}" alt="Thumbnil" class="img-responsive"></a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-8">
				<div class="det-img">
					<div class="box-img" ng-if="!playvideo">
						<img src="{{product.product.img}}" class="img-responsive">
					</div>
					<div class="video" style="min-height:250px" ng-if="playvideo" youtube code="product.product.img"></div>
					<div class="mini-img">
						<flex-slider class="carousel" flex-slide="prd in productdetail track by $index" animation="slide" animation-loop="false" item-width="150" item-margin="5">
							<li ng-click="onimgclick(prd)">
								<img ng-src="{{prd.image}}" alt="Product-detail" class="img-responsive prd-slide">
							</li>
						</flex-slider>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="tab">
				<div id="container">
					<!--Pestaña 1 activa por defecto-->
					<input id="tab-1" type="radio" name="tab-group" checked="checked" />
					<label for="tab-1">Description</label>
					<!--Pestaña 2 inactiva por defecto-->
					<input id="tab-2" type="radio" name="tab-group" />
					<label for="tab-2">Specification</label>
					<!--Pestaña 3 inactiva por defecto-->
					<!--
					<input id="tab-3" type="radio" name="tab-group" />
					<label for="tab-3">Reviews (0)</label>
-->
					<!--Contenido a mostrar/ocultar-->
					<div id="content" class="info-content">
						<!--Contenido de la Pestaña 1-->
						<div id="content-1">
							{{product.product.description}}
							<!--
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum sit reprehenderit iusto harum minima. Assumenda, accusamus, perspiciatis inventore tempora qui pariatur quisquam? Deleniti, placeat ea nostrum officiis obcaecati temporibus quod. Ullam, in, adipisci autem at fugit ab tempore enim ratione nesciunt alias corporis vitae quo quod nostrum itaque vero iure?</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, id blanditiis deserunt in molestiae excepturi incidunt molestias dolor sunt dolore obcaecati non repellat mollitia error placeat est exercitationem sit voluptates iure autem saepe voluptas harum unde perferendis modi provident labore voluptatum. Repudiandae, aspernatur sit harum quod vero quos sequi voluptas!</p>
-->
						</div>
						<!--Contenido de la Pestaña 2-->
						<div id="content-2" class="pro-spec-table">
							<!--						{{product.product.keyfeatures}}-->
						
							<div class="pro-spec">
								<table class="table">
									<tbody>
										<tr>
											<td class="nobd">Model Number</td>
											<td class="nobd">1</td>
										</tr>
										<tr>
											<td>Model Name</td>
											<td>2</td>
										</tr>
										<tr>
											<td>EAN/UPC</td>
											<td>3</td>
										</tr>
										<tr>
											<td>Type</td>
											<td>4</td>
										</tr>
										<tr>
											<td>Compatible Device</td>
											<td>5</td>
										</tr>
										<tr>
											<td>Compatible With</td>
											<td>6</td>
										</tr>
										<tr>
											<td>Material</td>
											<td>7</td>
										</tr>
										<tr>
											<td>Color</td>
											<td>8</td>
										</tr>
										<tr>
											<td>Width</td>
											<td>9</td>
										</tr>
										<tr>
											<td>Height</td>
											<td>10</td>
										</tr>
										<tr>
											<td>Depth</td>
											<td>11</td>
										</tr>
										<tr>
											<td>Key Features</td>
											<td>12</td>
										</tr>
										<tr>
											<td>Finish</td>
											<td>13</td>
										</tr>
										<tr>
											<td>Weight</td>
											<td>14</td>
										</tr>
										<tr>
											<td>Warranty</td>
											<td>15</td>
										</tr>
										<tr>
											<td>Warranty Summary</td>
											<td>16</td>
										</tr>
										<tr>
											<td>Size</td>
											<td>17</td>
										</tr>
										<tr>
											<td>Type Name</td>
											<td>18</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<!--Contenido de la Pestaña 3-->
<!--
						<div id="content-3">
							{{product.product.keyfeatures}}
						</div>
-->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>