<div class="producthover">
	<div class="container">
		<div class="product-hov-list text-capitalize">
			<div class="list1">
				<div class="row">
					<div class="col-md-12">
						<div class="list1-1">
							<div class="row">
								<div class="col-md-2">
									<div class="iphone-access">
										<h5 class="text-capitalize">cover &amp; Cases</h5>
										<ul>
											<li><a href="" title="Cover &amp; Cases">Iphone Covers</a></li>
											<li><a href="" title="Cover &amp; Cases">Samsung Covers</a></li>
											<li><a href="" title="Cover &amp; Cases">Sony Covers</a></li>
											<li><a href="" title="Cover &amp; Cases">Yureka Covers</a></li>
											<li><a href="" title="Cover &amp; Cases">Micromaxx covers</a></li>
										</ul>
									</div>
								</div>
								<div class="col-md-2">
									<div class="Mobile">
										<h5>Mobiles</h5>
										<ul>
											<li><a href="" title="Mobiles">i phone</a></li>
											<li><a href="" title="Mobiles">Samsung</a></li>
											<li><a href="" title="Mobiles">Yureka</a></li>
											<li><a href="" title="Mobiles">Sony</a></li>
											<li><a href="" title="Mobiles">Micromaxx</a></li>
										</ul>
									</div>
								</div>
								<div class="col-md-2">
									<div class="headphone">
										<h5>Headphones</h5>
										<ul>
											<li><a href="" title="Head phones">Beats</a></li>
											<li><a href="" title="Head phones">Sony</a></li>
											<li><a href="" title="Head phones">JBL</a></li>
											<li><a href="" title="Head phones">Skull candy</a></li>
											<li><a href="" title="Head phones">Philips</a></li>
										</ul>
									</div>
								</div>
								<div class="col-md-2">
									<div class="acces">
										<h5>Accessories</h5>
										<ul>
											<li><a href="" title="Accessories">Tech Accesories</a></li>
											<li><a href="" title="Accessories">Bags</a></li>
											<li><a href="" title="Accessories">belt</a></li>
										</ul>
									</div>
								</div>
								<div class="col-md-2">
									<div class="watch-prdt">
										<h5>watches</h5>
										<ul>
											<li><a href="" title="Watch">Analog</a></li>
											<li><a href="" title="Watch">chronograph</a></li>
											<li><a href="" title="Watch">digital</a></li>
											<li><a href="" title="Watch">watch cases</a></li>
										</ul>
									</div>
								</div>
								<div class="col-md-2">
									<div class="laptop-prdt">
										<h5>Laptops</h5>
										<ul>
											<li><a href="" title="Laptop">Dell</a></li>
											<li><a href="" title="Laptop">hp</a></li>
											<li><a href="" title="Laptop">lenevo</a></li>
											<li><a href="" title="Laptop">asus</a></li>
											<li><a href="" title="Laptop">compaq</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>