<div class="container">
   <div class="row">
       <div class="col-md-3">
           <div class="product-filter">
               <h4>product filter</h4>
               <div class="filter">
                   <p>Brands</p>
                         <form class="sub-catgame">
                            <ul>
                                <li>
                                    <input id="Option" type="checkbox">
                                    <label class="checkbox" for="Option">Apple</label>
                                </li>
                                <li>
                                    <input id="option2" type="checkbox">
                                    <label class="checkbox" for="option2">nokia</label>
                                </li>
                                <li>
                                    <input id="option3" type="checkbox">
                                    <label class="checkbox" for="option3">samsung</label>
                                </li>
                                <li>
                                    <input id="option4" type="checkbox">
                                    <label class="checkbox" for="option4">mi</label>
                                </li>
                                <li>
                                    <input id="option5" type="checkbox">
                                    <label class="checkbox" for="option5">micromax</label>
                                </li>
                            </ul>
                        </form>
               </div>
               <div class="price">
                   <p>price</p>
                    
                       
                       <div range-slider min="demo2.range.min" max="demo2.range.max" model-min="demo2.minPrice" model-max="demo2.maxPrice" filter="currency:'₹'" step="100"></div>
         </div>
               </div>
           </div>
       <div class="col-md-9">
           <div class="product-list">
           <div class="col-md-4">
               <div class="pro-box">
                   <div class="img-box">
                       <img src="img/product/5.png">
                   </div>
               </div>
           </div>
       </div>
       </div>
   </div>
</div>