<div class="search-result text-uppercase">
    <div class="container">
        <div class="pads sign search-head text-center">
            <h3>search results for:<span class="prd-name">{{searchfor}}</span></h3>
            <p>{{products.length}} items</p>
        </div>
        <div class="row">
            <div class="product-list">
                <div class="col-md-3 col-sm-6" ng-repeat="pro in products">
                  <div class="pro-box">
                    <a class="discper" href="" ng-show="pro.showSalePrice">{{pro.discountinper}}%</a>
                      <a href="" ng-click="getproductdetails(pro);">
                          <div class="img-box">
                              <span ng-if="!pro.image2 && pro.image1">
                              <div class="pro-img1 img1" style="opacity:1;" ng-if="pro.image1" >
                                  <img ng-src="{{pro.image1 | serverimage}}" class="img-responsive">
                              </div>
                          </span>
                              <span ng-if="pro.image2">
                              <div class="pro-img1 img1" ng-if="pro.image1" >
                                  <img ng-src="{{pro.image1 | serverimage}}" class="img-responsive">
                              </div>
                              <div class="pro-img2 img2" ng-if="pro.image2">
                                  <img ng-src="{{pro.image2 | serverimage}}" class="img-responsive">
                              </div>
                          </span>
                              <div class="pro-img1 img1" style="opacity:1;" ng-if="!pro.image1 && !pro.image2">
                                  <img ng-src="{{ggg | serverimage}}" class="img-responsive">
                              </div>
                              <div class="stock" ng-if="pro.quantity <= 0">
                                <p class="text-capitalize">Sorry Mate, Sold Out</p>
                              </div>
                          </div>
                      </a>
                      <div class="pro-name">
                          <h5>{{pro.name}}</h5>
                          <div class="cartli">
                              <ul>
                                  <li class="single wd55" ng-show="pro.showSalePrice">
                                      <span class="first-p price">
                                  <i class="fa fa-inr"></i> {{pro.firstsaleprice}}
                                  </span>
                                      <span style="text-decoration: line-through;" class="sec-p price">
                                  <i class="fa fa-inr"></i> {{pro.price}}
                                  </span>
                                  </li>
                                  <li class="single wd60" ng-hide="pro.showSalePrice"><i class="fa fa-inr"></i> {{pro.price}}</li>
                                  <li class="carts wd20" ng-click="addtowishlist(pro);"><i class="fa fa-heart {{pro.fav}}"></i>
                                  </li>
                                  <li ng-if="pro.quantity > 0" class="carts wd20" ng-click="addtocart(pro)"><i class="fa fa-shopping-cart"></i>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>

                </div>
            </div>
            <div class="centerno" ng-if="products==''">
                No results found
            </div>
        </div>
    </div>
</div>
