<section class="text-center message">
<div class="container">
  <h2 class="text-capitalize">thank you for shopping with us !</h2>
<div class="shop">
  <div class="row">
    <div class="col-md-6">
      <div class="transaction">
        <span>Transaction ID :</span>
        <span>02123457789</span>
      </div>
    </div>
    <div class="col-md-6">
      <div class="amount">
        <span>Amount</span>
        <span>Rs 10,000</span>
      </div>
    </div>
  </div>
</div>
  <div class="continue">
    <p class="text-capitalize">your order has been be processed</p>
    <a href="#/home" class="text-uppercase btn-all">continue shopping</a>
  </div>
</div>
</section>
