<div class="wishlist">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-6" ng-repeat="pro in products">
				<div class="product-list">
					<a href="#/productdetail">
						<div class="pro-box">
							<div class="img-box">
								<div class="pro-img1">
									<img ng-src="{{pro.image}}" class="img-responsive">
								</div>
								<div class="pro-img2">
									<img ng-src="{{pro.image1}}" class="img-responsive">
									<!--                       <img  src="img/product/5.jpg" class="img-responsive " >-->
								</div>
							</div>
							<div class="pro-name">
								<h5>{{pro.name}}</h5>
								<span class="spanli"><ul>
    <li><i class="fa fa-star"></i></li>
    <li><i class="fa fa-star"></i></li>
    <li><i class="fa fa-star"></i></li>
    <li><i class="fa fa-star"></i></li>
    <li><i class="fa fa-star-o"></i></li>
</ul></span>
								<!--
									<hr class="line">
									<p>{{pro.desc}}</p>
-->
								<div class="cartli">
									<ul>
										<li class="single"><i class="fa fa-inr"></i> {{pro.price}}</li>
										<li class="carts"><i class="fa fa-heart"></i></li>
										<li class="carts"><a href="#/cart"><i class="fa fa-shopping-cart"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>