<div class="footer">
   <div class="container">
   <div class="footer-set">
    <div class="row">
      
       <div class="col-md-3">
          
               <h4>collection</h4>
               <ul>
                   <li><a href="">mobile</a></li>
                   <li><a href="">laptop</a></li>
                   <li><a href="">watch</a></li>
                   <li><a href="">camera</a></li>
               </ul>
           
       </div>
       <div class="col-md-3">
          
               <h4>site</h4>
               <ul>
                   <li><a href="#/termscondition">terms and service</a></li>
                   <li><a href="#/privacy">privacy policy</a></li>
                   <li><a href="#/faq">faq</a></li>
               </ul>
         
       </div>
       <div class="col-md-3">
           
               <h4>shop</h4>
               <ul>
                   <li><a href="#/about">about us</a></li> 
                   <li><a href="">shipping method</a></li>
                   <li><a href="">career</a></li>
                   <li><a href="#/contact">contact Us</a></li>
               </ul>
           
       </div>
       <div class="col-md-3" style="border:none">
          <div class="pay">
           <h4>payment method</h4>
               <ul>
                   <li><img src="img/payment/1.png"</li>
                  <li><img src="img/payment/2.png"</li>
                  <li><img src="img/payment/3.png"</li>
                  <li><img src="img/payment/4.png"</li>
               </ul>
          </div>
       </div>
       </div>
    </div>
</div>
</div>