<div class="footer">
	<div class="container">
		<div class="footer-set">
			<div class="row">

				<div class="col-md-3">
					<div class="get-height">

						<h4>collection</h4>
						<ul>
							<li>
								<a href="#/brand">brands</a>
							</li>
							<li>
								<a href="#/category">product</a>
							</li>
							<li>
								<a href="#/newarrivals">deals</a>
							</li>
							<li>
								<a href="#/distribution">distribution</a>
							</li>
							<li>
								<a href="#/about">about us</a>
							</li>
						</ul>

						<div class="pay">
							<h4>payment method</h4>
							<ul>
								<li>
									<img src="img/payment/1.png">
								</li>
								<li>
									<img src="img/payment/2.png"> </li>
								<li>
									<img src="img/payment/3.png"> </li>
								<li>
									<img src="img/payment/4.png"> </li>
							</ul>
						</div>
					</div>

				</div>
				<div class="col-md-3">
					<div class="get-height">

						<h4>site</h4>
						<ul>
							<li>
								<a href="#/termscondition">terms and service</a>
							</li>
							<li>
								<a href="#/privacy">privacy policy</a>
							</li>
							<li>
								<a href="#/faq">faq</a>
							</li>
						</ul>
					</div>

				</div>
				<div class="col-md-3">
					<div class="get-height">

						<h4>shop</h4>
						<ul>
							<li>
								<a href="#/about">about us</a>
							</li>
							<li>
								<a href="">shipping method</a>
							</li>
							<li>
								<a href="">career</a>
							</li>
							<li>
								<a href="#/contact">contact Us</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-3">
					<div class="get-height nobd">
						<div class="plugin-fb">
							<div class="fb-page" data-href="https://www.facebook.com/accessretail/" data-tabs="timeline" data-small-header="true" data-adapt-container-width="true"
							    data-hide-cover="false" data-show-facepile="true">
								<div class="fb-xfbml-parse-ignore">
									<h4 cite="https://www.facebook.com/accessretail/">
										<a href="https://www.facebook.com/accessretail/">Access</a>
									</h4>
								</div>
							</div>
							<div id="fb-root"></div>
							<script>
								FB = null;
								(function (d, s, id) {
									var js, fjs = d.getElementsByTagName(s)[0];
									//if (d.getElementById(id)) return;
									js = d.createElement(s);
									js.id = id;
									js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.5";
									fjs.parentNode.insertBefore(js, fjs);
								}(document, 'script', 'facebook-jssdk'));
							</script>

							<script>
								(new Image()).src =
									'//googleads.g.doubleclick.net/pagead/viewthroughconversion/877002392/?value=0&guid=ON&script=0';
							</script>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div style="padding-right: 130px;">
						Powered by
						<a href="https://shopmyway.co.in" target="_blank">
							<span class="color-pink">ShopMy<span class="color-blue">Way</span>
							</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>