<header>

   <nav class="navbar navbar-default navbar-fixed-top">
      <div class="head">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                   <div class="head-left">
                    <i class="fa fa-phone"></i>
                    <p>call - +001 255 300</p>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="head-right">
                        <ul>
                            <li>welcome msg!</li>
                            <li>my account</li>
                            <li>my wishlist</li>
                            <li>login</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
   
<!--Menu Start-->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/home"><img src="img/logo.png" alt="logo" width="20"> </a>
        </div>

        <div class="collapse navbar-collapse" id="nav-collapse">
               <div ng-include="template.menu" class="template menu"></div>
        </div>
<!--        Menu End -->
    </div>
</nav>
</header>