<!--
<ul class="nav navbar-nav">
    <li ng-repeat="menu in navigation" class="{{menu.classis}}">
        <a href="{{menu.link}}">{{menu.name}}</a>
        <ul class="dropdown-menu" ng-if="menu.subnav!='';">
            <li ng-repeat="submenu in menu.subnav">
                <a href="{{submenu.link}}">{{submenu.name}}</a>
            </li>
        </ul>
    </li>
</ul>-->




<ul class="nav navbar-nav" ng-controller="submenuctrl">
	<li ng-mouseover="showsubmenu(0)" ng-mouseleave="hidesubmenu(0)" style="position:static;"><a href="#brand" title="Brands">Brands</a>
		<div class="megamenu brand_hover" ng-include src="submenuval[0]" ng-show="submenu[0]">
		</div>
	</li>
	<li ng-mouseover="showsubmenu(1)" ng-mouseleave="hidesubmenu(1)" style="position:static;"><a href="#category" title="Product">product</a>
		<div class="megamenu" ng-include src="submenuval[1]" ng-show="submenu[1]">
		</div>
	</li>
<!--	<li><a href="#exclusive" title="exclusive">exclusive</a></li>-->
	<li><a href="#newarrivals" title="New Arrivals">new arrivals</a></li>
	<li><a href="#deals" title="Deals">Deals</a></li>
	<li><a href="#distribution" title="Distribution">Distribution</a></li>
	<li><a href="#about" title="About Us">about us</a></li>
</ul>